<!--HEAD
    {
        "title": "이노베이션"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션"}
        ]
    }
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/event.css" />

{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}

<div id="container">
    <div class="title-top">
        <div class="title-top-bn">
            <h2>2020<br>inno-<em>con</em></h2>
            <p>2020이노베이션아카데미컨퍼런스<br><span class="sub">: CHANGE THE WORLD WITH SOFTWARE</span></p>
            <div class="bg"><img src="/assets/images/event/top_banner_img_04.svg" alt="추후이미지삽입될영역"
                    class="program-top-bn-img"></div> <!-- 20201126 수정 -->
        </div>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가-->
    <div class="mob-top-img">
        <img src="/assets/images/event/top_banner_img_04.svg" alt="추후이미지삽입될영역" class="mob-program-top-bn-img">
    </div>
    <!--20201126 모바일 버전으로 이미지 추가 끝-->
    <!--<ul class="top-tab grid2">
        <li><a href="innocon.html">2020 innocon</a></li>
        <li class="active"><a href="opening.html">축사/개회사</a></li>
    </ul>-->

    <div id="contents">
        <div class="event-wrap">
            <ul id="tabs_mod">
                <li class="current">
                    <a href="#step1">
                        <p class="title">이벤트_1</p>
                        <div>
                            <h3 class="fl">사전질문<br>등록 이벤트</h3>
                            <div class="fr"><img src="/assets/images/event/event-tab01.png"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#step2">
                        <p class="title">이벤트_2</p>
                        <div>
                            <h3 class="fl">SNS 공유<br>이벤트</h3>
                            <div class="fr">
                                <img src="/assets/images/event/event-tab02-1.png">
                                <img src="/assets/images/event/event-tab02-2.png">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#step3">
                        <p class="title">이벤트_3</p>
                        <div>
                            <h3 class="fl">만족도<br> 설문조사 이벤트</h3>
                            <div class="fr"><img src="/assets/images/event/event-tab03.png"></div>
                        </div>
                    </a>
                </li>
            </ul>

            <div id="content">
                <div id="tab1" class="tab-cont">
                    <div class="title">
                        <h2>event_1</h2>
                        <span>사전질문 등록 이벤트</span>
                    </div>
                    <strong class="subject">
                        개발생태계 전문가에게<br>직접 답변도 듣고, 선물도 받고!
                    </strong>
                    <div class="box">
                        개발 생태계에 대해 궁금했던 것들을 전문가와 선배들에게 질문하고 <br>
                        직접 답변을 들을 수 있는 놓칠 수 없는 기회!<br>
                        홈페이지 등록 시 질문을 남겨주시면, 좋은 질문을 해주신 질문자분들 100명께 푸짐한 경품을 드립니다!
                    </div>
                    <div class="date">2020년 12월 1일 (화)~ 12월 7일 (월)</div>
                    <ul class="step">
                        <li class="step1">
                            <h4>step 1</h4>
                            <p>2020 INNO-CON 홈페이지에서 등록하기</p>
                        </li>
                        <li class="step2">
                            <h4>step 2</h4>
                            <p>'라이브 인터뷰이에게<br>질문을 남겨주세요'<br>란에 질문 작성하기!</p>
                        </li>
                        <li class="step3">
                            <h4>step 3</h4>
                            <p>내 질문이 채택되길<br>바라는 마음으로<br>12월 8일 (화)<br>라이브 필수 참가!</p>
                        </li>
                    </ul>
                    <div class="event-bottom">
                        <div class="fl">
                            <div>
                                <strong>당첨자</strong>
                                <span>사전 질문 등록해주신 분들 중 100명</span>
                            </div>
                            <div>
                                <strong>당첨자 발표</strong>
                                <span>2020년 12월 14일 (월)<br>*당첨자에게 개별 연락 </span>
                            </div>
                            <div>
                                <strong>경품</strong>
                                <span>BHC 치킨+콜라 세트 E쿠폰<br>스타벅스 커피+디저트 세트 E쿠폰<br> 베스킨라빈스 아이스크림 E쿠폰</span>
                            </div>
                        </div>
                        <div class="fr"><img src="/assets/images/event/event01-img.png"></div>
                    </div>
                    <a href="/pre_registration/regist" class="goLink">질문하러 가기</a>
                </div>

                <div id="tab2" class="tab-cont">
                    <div class="title">
                        <h2>event_2</h2>
                        <span>2020 INNO-CON 웹 포스터 공유 이벤트</span>
                    </div>
                    <strong class="subject">
                        2020 INNO-CON 웹포스터를<br>친구들에게 공유만으로, 선물이 와르르 !
                    </strong>
                    <div class="box">
                        재단 SNS에 올라온 2020 INNO-CON 웹포스터를 개인 SNS에 필수 해시태그와 함께 공유하고,<br>게시물 링크를 이벤트 페이지에 댓글로 작성하면 20분께 선물을
                        팡팡파라파라 팡팡팡!
                    </div>
                    <div class="date">2020년 12월 4일 (금) ~ 12월 8일 (화)</div>
                    <ul class="step step2_wrap">
                        <li class="step1">
                            <h4>step 1</h4>
                            <p>재단 SNS 웹 포스터 글 확인 후<br>개인 SNS에 해시태그와 함께 공유!</p>
                            <span>
                                #이노베이션아카데미<br>
                                #이노콘<br>
                                #2020 이노콘
                            </span>
                        </li>
                        <li class="step2">
                            <h4>step 2</h4>
                            <p>2020 INNO-CON 홈페이지에서<br>등록 한 후, 게시물 링크를 댓글로 남기기!</p>
                        </li>
                        <li class="step3">
                            <h4>step 3</h4>
                            <p>댓글 작성 시 응모 완료!<br>추첨을 통해 선물 증정</p>
                        </li>
                    </ul>
                    <div class="event-bottom">
                        <div class="fl">
                            <div>
                                <strong>해시태그</strong>
                                <span>#이노베이션아카데미 #이노콘 #2020 이노콘</span>
                            </div>
                            <div>
                                <strong>당첨자</strong>
                                <span>댓글 남겨주신 분들 중 20명</span>
                            </div>
                            <div>
                                <strong>당첨자 발표</strong>
                                <span>2020년 12월 14일 (월)<br>*당첨자에게 개별 연락 </span>
                            </div>
                            <div>
                                <strong>경품</strong>
                                <span>T.G.I.F 모바일 금액권 5만원권</span>
                            </div>
                        </div>
                        <div class="fr"><img src="/assets/images/event/event02-img.png"></div>
                    </div>

                    <div class="comment-wrap">
                        <form id="eventForm">
                            <div class="comment-top">
                                <input type="text" placeholder="닉네임" id="nickname" name="nick" required />
                                <input type="email" placeholder="이메일" id="mail" name="email" />
                                <div class="comment-textarea">
                                    <textarea name="comment" placeholder="SNS 공유 후 링크 첨부와 함께&#10;간단한 소감 한 마디 작성해주세요!"
                                        required></textarea>
                                    <button type="submit" id="commentSubmitBtn">댓글<br>작성하기 </button>
                                </div>
                            </div>
                        </form>
                        <div class="comment-content">
                            {% for idx in body.rows %}
                            <div class="item">
                                <div class="name">{{ idx.nick }}</div>
                                <div class="cont" style="white-space: pre-line">
                                    {{ idx.comment|nl2br }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--paging 추가-->
                        <div class="paging">
                            <div class="prev-btn-box">
                                <div class="item arrow all-prev" data-page="{{body.paging.first}}">&lt; &lt;</div>
                            </div>
                            {% for nav in body.paging.nav %}
                            {% if body.paging.current == nav %}
                            <div class="item active">{{ nav }}</div>
                            {% else %}
                            <div class="item" data-page="{{nav}}">{{ nav }}</div>
                            {% endif %}
                            {% endfor %}

                            <div class="next-btn-box">
                                <!-- <div class="item arrow next">&gt;</div> -->
                                <div class="item arrow all-next" data-page="{{body.paging.last}}">&gt; &gt;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab3" class="tab-cont">
                    <div class="title">
                        <h2>event_3</h2>
                        <span>만족도 설문조사 이벤트</span>
                    </div>
                    <strong class="subject">
                        2020 INNO-CON 어떠셨나요?<br>만족도 설문조사 참여하면 선물은 나의 것!
                    </strong>
                    <div class="box">
                        2020 이노베이션 아카데미 컨퍼런스에 참여하신 후,<br>만족도 설문조사에 응답해주시면 응답자 중 200명을 랜덤 선정하여 경품을 드립니다!
                    </div>
                    <div class="date">2020년 12월 9일 (수) ~ 12월 13일 (일)</div>
                    <ul class="step step3_wrap">
                        <li class="step1">
                            <h4>step 1</h4>
                            <p>2020 INNO-CON<br>등록 및 참가하기</p>
                        </li>
                        <li class="step2">
                            <h4>step 2</h4>
                            <p>등록자 대상으로 발송되는<br>설문조사 응답하기!</p>
                        </li>
                        <li class="step3">
                            <h4>step 3</h4>
                            <p>참여만 하면 자동응모 완료!<br>두근두근 선물 기다리기!</p>
                        </li>
                    </ul>
                    <div class="event-bottom">
                        <div class="fl">
                            <div>
                                <strong>당첨자</strong>
                                <span>설문조사 응답해주신 분들 중 200명</span>
                            </div>
                            <div>
                                <strong>당첨자 발표</strong>
                                <span>2020년 12월 14일 (월)<br>*당첨자에게 개별 연락 </span>
                            </div>
                            <div>
                                <strong>경품</strong>
                                <span>스타벅스 커피 E쿠폰<br>베스킨라빈스 아이스크림 E쿠폰</span>
                            </div>
                        </div>
                        <div class="fr"><img src="/assets/images/event/event03-img.png"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="/script/event/regist"></script>
<script>
    function tab_change() {
        var hash = window.location.hash.substr(5);
        var content = document.querySelectorAll('#content .tab-cont');
        var tab = document.querySelectorAll('#tabs_mod li');
        for (var k in content) {
            if (content.hasOwnProperty(k)) {
                var ele = content[k];
                if (hash == '') {
                    if (k == 0) {
                        tab[k].className = 'current';
                        ele.style.display = 'block';
                    }
                    else {
                        tab[k].className = '';
                        ele.style.display = 'none';
                    }
                }
                else {
                    if (Number(k) + 1 == hash) {
                        tab[k].className = 'current';
                        ele.style.display = 'block';
                    }
                    else {
                        tab[k].className = '';
                        ele.style.display = 'none';
                    }
                }
            }
        }
    }

    function _rander(body) {
        var tgt = $('.comment-content');
        tgt.empty();
        for (var k in body.rows) {
            if (body.rows.hasOwnProperty(k)) {
                var row = body.rows[k];
                tgt.append('<div class="item">'
                    + '<div class="name">' + row.nick + '</div>'
                    + '<div class="cont" style="white-space: pre-line">' + row.comment + '</div>'
                    + '</div>');
            }
        }
        var paging = $('.paging');
        paging.empty();
        paging.append('<div class="prev-btn-box"><div class="item arrow all-prev" data-page="' + body.paging.first + '">&lt; &lt;</div></div>');
        for (var i in body.paging.nav) {
            if (body.paging.current == body.paging.nav[i]) {
                paging.append('<div class="item active">' + body.paging.nav[i] + '</div>');
            } else {
                paging.append('<div class="item" data-page="' + body.paging.nav[i] + '">' + body.paging.nav[i] + '</div>');
            }
        }
        paging.append('<div class="next-btn-box"><div class="item arrow all-next" data-page="' + body.paging.last + '">&gt; &gt;</div></div>');

        $('.paging .item').on('click', function () {
            if (typeof $(this).attr('data-page') != 'undefined') {
                _event.lists({ page: $(this).attr('data-page') }, function (body) {
                    _rander(body);
                });
            }
        });
    }

    window.onhashchange = function () {
        tab_change();
    }
    window.onload = function () {
        tab_change();
        var f = document.querySelector('#eventForm');
        _event.form(f, function (obj) {
            _event.regist([], obj, function (body) {
                if (body) {
                    _event.lists(_event.query2obj(), function (body) {
                        _rander(body);
                    });
                }
                f.reset();
            })
        });

        $('.paging .item').on('click', function () {
            if (typeof $(this).attr('data-page') != 'undefined') {
                _event.lists({ page: $(this).attr('data-page') }, function (body) {
                    _rander(body);
                });
            }
        });
    }
    $("#header .gnb > ul > li:eq(5)").addClass("on");


</script>
<style>
    form button[type="submit"] {
        display: inline-block;
        vertical-align: 55px;
        font-size: 18px;
        text-align: center;
        background-color: #bbbbbb;
        box-shadow: 2px 2px 0 #000000, -2px -2px 0 #ffffff;
        padding: 10px;
        margin-left: 1%;
        white-space: pre-line;
    }

    .paging .item {
        cursor: pointer;
    }
</style>