@charset "utf-8";
@import url(NotoSansKR.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,button,input{
	margin:0;
	padding:0;
	display: block;
	border:0;
	vertical-align: top;
	background:transparent;
	word-break:keep-all;
	box-sizing: border-box;
}
body{font-family:'DungGeunMo','nanumsquare','Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Regular','DroidSansFallback','Apple Gothic','HelveticaNeue-Regular',sans-serif; font-size:14px; font-weight:400; letter-spacing:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{	display:block;}
ol,ul{ list-style:none;}
table{ border-collapse:separate; border-spacing:0;}
th, td{ vertical-align:middle;}

/* 20201118 김소라 추가 */
h1, h2, h3, h4, h5, h6, strong {font-weight: 600;}
/***********************/

a { text-decoration:inherit; color:inherit; word-break:break-all;}

button{ cursor:pointer;}

fieldset{border:none;margin:0; padding:0;}
img{border:0 none;}
form{margin:0;padding:0; display:inline; }
legend{display:none; margin:0; padding:0;}
caption,
.skip{overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-10000px;}
ul,ol,li {list-style:none;}
em{ font-style:normal;}

hr{ margin: 50px 0; border-top: 1px dashed #000;}
hr.no{ background-color:transparent; padding:0px; margin:0px;}

#skipnavi{position:absolute;top:-1px;left:0;background-color:#333;z-index:999999}
#skipnavi a{position:absolute;top:0;left:0;padding:10px 25px;margin-top:-100px;text-align:center;line-height:1;white-space:nowrap;background:#000}
#skipnavi a:link{color:#333;}
#skipnavi a:focus{margin-top:0;text-decoration:underline;color:#fff}

.va_middle{ width:inherit; height:inherit; display:table-cell; vertical-align:middle;}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis.multiline {
  white-space: normal;
}

.p_br{ display:block;}

button:focus, input:focus, select:focus {
	outline: none;
}

.table {display: table;}
.cell {display: table-cell;}




/* TouchSlider 기본 시작 */
.sliderBox,
.sliderBox ul,
.sliderBox ul li{ width:100%; height:100%; padding:0; margin:0; display:inline-block;}
.sliderBox{ overflow:hidden;}
.sliderBox ul{ position:relative;}
.sliderBox ul li{ position:absolute; top:0; left:0;}
/* TouchSlider 기본 끝 */

/* Font Size */
.f_s_11{font-size:11px !important;}
.f_s_12{font-size:12px !important;}
.f_s_13{font-size:13px !important;}
.f_s_14{font-size:14px !important;}
.f_s_15{font-size:15px !important;}
.f_s_16{font-size:16px !important;}
.f_s_17{font-size:17px !important;}
.f_s_18{font-size:18px !important;}
.f_s_19{font-size:19px !important;}
.f_s_20{font-size:20px !important;}
.f_s_21{font-size:21px !important;}
.f_s_22{font-size:22px !important;}
.f_s_23{font-size:23px !important;}
.f_s_24{font-size:24px !important;}
.f_s_25{font-size:25px !important;}
.f_s_26{font-size:26px !important;}
.f_s_27{font-size:27px !important;}
.f_s_28{font-size:28px !important;}
.f_s_29{font-size:29px !important;}
.f_s_30{font-size:30px !important;}
.f_s_31{font-size:31px !important;}
.f_s_32{font-size:32px !important;}
.f_s_33{font-size:33px !important;}
.f_s_34{font-size:34px !important;}
.f_s_35{font-size:35px !important;}
.f_s_36{font-size:36px !important;}
.f_s_37{font-size:37px !important;}
.f_s_38{font-size:38px !important;}
.f_s_39{font-size:39px !important;}
.f_s_40{font-size:40px !important;}
.f_s_41{font-size:41px !important;}
.f_s_42{font-size:42px !important;}
.f_s_43{font-size:43px !important;}
.f_s_44{font-size:44px !important;}
.f_s_45{font-size:45px !important;}
.f_s_46{font-size:46px !important;}
.f_s_47{font-size:47px !important;}
.f_s_48{font-size:48px !important;}
.f_s_49{font-size:49px !important;}
.f_s_50{font-size:50px !important;}
.f_s_51{font-size:51px !important;}
.f_s_52{font-size:52px !important;}
.f_s_53{font-size:53px !important;}
.f_s_54{font-size:54px !important;}
.f_s_55{font-size:55px !important;}
.f_s_56{font-size:56px !important;}
.f_s_57{font-size:57px !important;}
.f_s_58{font-size:58px !important;}
.f_s_59{font-size:59px !important;}
.f_s_60{font-size:60px !important;}

/* font-weight */
.f_w_100{font-weight:100 !important;}
.f_w_200{font-weight:200 !important;}
.f_w_300{font-weight:300 !important;}
.f_w_400{font-weight:400 !important;}
.f_w_500{font-weight:500 !important;}
.f_w_600{font-weight:600 !important;}
.f_w_700{font-weight:700 !important;}
.f_w_800{font-weight:800 !important;}
.f_w_900{font-weight:900 !important;}
.f_w_bold{font-weight:bold !important;}
.f_w_normal{font-weight:normal !important;}

.f_f_dotum{ font-family:dotum !important;}


/* line-height */
.l_h_11{line-height:11px !important;}
.l_h_12{line-height:12px !important;}
.l_h_13{line-height:13px !important;}
.l_h_14{line-height:14px !important;}
.l_h_15{line-height:15px !important;}
.l_h_16{line-height:16px !important;}
.l_h_17{line-height:17px !important;}
.l_h_18{line-height:18px !important;}
.l_h_19{line-height:19px !important;}
.l_h_20{line-height:20px !important;}
.l_h_21{line-height:21px !important;}
.l_h_22{line-height:22px !important;}
.l_h_23{line-height:23px !important;}
.l_h_24{line-height:24px !important;}
.l_h_25{line-height:25px !important;}
.l_h_26{line-height:26px !important;}
.l_h_27{line-height:27px !important;}
.l_h_28{line-height:28px !important;}
.l_h_29{line-height:29px !important;}
.l_h_30{line-height:30px !important;}
.l_h_31{line-height:31px !important;}
.l_h_32{line-height:32px !important;}
.l_h_33{line-height:33px !important;}
.l_h_34{line-height:34px !important;}
.l_h_35{line-height:35px !important;}
.l_h_36{line-height:36px !important;}
.l_h_37{line-height:37px !important;}
.l_h_38{line-height:38px !important;}
.l_h_39{line-height:39px !important;}
.l_h_40{line-height:40px !important;}
.l_h_41{line-height:41px !important;}
.l_h_42{line-height:42px !important;}
.l_h_43{line-height:43px !important;}
.l_h_44{line-height:44px !important;}
.l_h_45{line-height:45px !important;}
.l_h_46{line-height:46px !important;}
.l_h_47{line-height:47px !important;}
.l_h_48{line-height:48px !important;}
.l_h_49{line-height:49px !important;}
.l_h_50{line-height:50px !important;}
.l_h_51{line-height:51px !important;}
.l_h_52{line-height:52px !important;}
.l_h_53{line-height:53px !important;}
.l_h_54{line-height:54px !important;}
.l_h_55{line-height:55px !important;}
.l_h_56{line-height:56px !important;}
.l_h_57{line-height:57px !important;}
.l_h_58{line-height:58px !important;}
.l_h_59{line-height:59px !important;}
.l_h_60{line-height:60px !important;}

/* Font Color */
.bold{font-weight:bold !important;}
.red{color:#b30006 !important;}
.red2{ color:#ed3024 !important;}
.red3{ color:#ee2e24 !important;}
.red4{ color:#e2403e !important;}
.white{color:#fff !important;}
.blue{color:#195790 !important;}
.green{color:#39b54a !important;}
.orange{color:#ff9600 !important;}
.gray_1{color:#111 !important;}
.gray_2{color:#222 !important;}
.gray_3{color:#333 !important;}
.gray_4{color:#444 !important;}
.gray_5{color:#555 !important;}
.gray_6{color:#666 !important;}
.gray_7{color:#777 !important;}
.gray_8{color:#888 !important;}
.gray_9{color:#999 !important;}
.gray_10{color:#aaa !important;}
.gray_11{color:#bbb !important;}
.gray_12{color:#ccc !important;}
.gray_13{color:#ddd !important;}
.gray_14{color:#eee !important;}
.gray_15{color:#323232 !important;}
.gray_16{color:#8b8b8b !important;}
.gray_17{color:#484848 !important;}
.khaki{color:#a17641 !important;}
.txt_disabled{ color:#969696 !important;}
.link {color:#0000ff !important;}
.blue2 {color:#0070c0 !important;}
.yellow {color:#FFFF66 !important;}
.grin {color:#008610 !important;}


.ju{font-size:11px;color:#888 !important;}

.f_w_nomal{font-weight:normal !important;}

.f_u {text-decoration:underline;}

/* BG Color */
.bg_gray{background-color:#eee !important;}
.bg_gray2{background-color:#fbfbfb !important;}
.bg_gray3{background-color:#757575 !important;}
.bg_gray4{background-color:#f5f5f5 !important;}
.bg_white{background-color:#fff !important;}
.bg_black{background-color:#000 !important;}
.bg_sky{background-color:#f6faff !important;}
.bg_sora{background-color:#6baea5 !important;}
.bg_red3{ background-color:#ee2e24 !important;}
.bg_red4{ background-color:#e2403e !important;}
.bg_brown1{ background-color:#a18a74 !important;}

.bg_image_no{ background-image:none !important;}

/* align */
.t_a_c{text-align:center !important;}
.t_a_l{text-align:left !important;}
.t_a_r{text-align:right !important;}

.f_r{float:right !important;}
.f_l{float:left !important;}
.f_n{float:none !important;}

.va_t{vertical-align:top !important;}
.va_m{vertical-align:middle !important;}
.va_b{vertical-align:bottom !important;}

.m_auto{margin:0 auto !important;}

.clear{clear:both !important;}

.over_h{overflow:hidden !important;}
.over_a{overflow:auto !important;}
.over_s{overflow:scroll !important;}
.over_xh{overflow-x:hidden !important;}
.over_yh{overflow-x:hidden !important;}
.over_xa{overflow-x:auto !important;}
.over_ya{overflow-y:auto !important;}
.over_xs{overflow-x:scroll !important;}
.over_ys{overflow-y:scroll !important;}

.dis_inline{ display:inline !important;}
.dis_block{ display:block !important;}
.dis_i_block{ display:inline-block !important;}
.dis_n {display:none !important;}

/* padding */
.p_0px{padding:0px !important;}
.p_1px{padding:1px !important;}
.p_2px{padding:2px !important;}
.p_3px{padding:3px !important;}
.p_4px{padding:4px !important;}
.p_5px{padding:5px !important;}
.p_6px{padding:6px !important;}
.p_7px{padding:7px !important;}
.p_8px{padding:8px !important;}
.p_9px{padding:9px !important;}
.p_10px{padding:10px !important;}
.p_11px{padding:11px !important;}
.p_12px{padding:12px !important;}
.p_13px{padding:13px !important;}
.p_14px{padding:14px !important;}
.p_15px{padding:15px !important;}
.p_16px{padding:16px !important;}
.p_17px{padding:17px !important;}
.p_18px{padding:18px !important;}
.p_19px{padding:19px !important;}
.p_20px{padding:20px !important;}
.p_25px{padding:25px !important;}
.p_30px{padding:30px !important;}
.p_35px{padding:35px !important;}
.p_40px{padding:40px !important;}
.p_45px{padding:45px !important;}
.p_50px{padding:50px !important;}
.p_b_0px{padding-bottom:0px !important;}
.p_b_1px{padding-bottom:1px !important;}
.p_b_2px{padding-bottom:2px !important;}
.p_b_3px{padding-bottom:3px !important;}
.p_b_4px{padding-bottom:4px !important;}
.p_b_5px{padding-bottom:5px !important;}
.p_b_6px{padding-bottom:6px !important;}
.p_b_7px{padding-bottom:7px !important;}
.p_b_8px{padding-bottom:8px !important;}
.p_b_9px{padding-bottom:9px !important;}
.p_b_10px{padding-bottom:10px !important;}
.p_b_11px{padding-bottom:11px !important;}
.p_b_12px{padding-bottom:12px !important;}
.p_b_13px{padding-bottom:13px !important;}
.p_b_14px{padding-bottom:14px !important;}
.p_b_15px{padding-bottom:15px !important;}
.p_b_16px{padding-bottom:16px !important;}
.p_b_17px{padding-bottom:17px !important;}
.p_b_18px{padding-bottom:18px !important;}
.p_b_19px{padding-bottom:19px !important;}
.p_b_20px{padding-bottom:20px !important;}
.p_b_25px{padding-bottom:25px !important;}
.p_b_30px{padding-bottom:30px !important;}
.p_b_35px{padding-bottom:35px !important;}
.p_b_40px{padding-bottom:40px !important;}
.p_b_45px{padding-bottom:45px !important;}
.p_b_50px{padding-bottom:50px !important;}
.p_t_0px{padding-top:0px !important;}
.p_t_1px{padding-top:1px !important;}
.p_t_2px{padding-top:2px !important;}
.p_t_3px{padding-top:3px !important;}
.p_t_4px{padding-top:4px !important;}
.p_t_5px{padding-top:5px !important;}
.p_t_6px{padding-top:6px !important;}
.p_t_7px{padding-top:7px !important;}
.p_t_8px{padding-top:8px !important;}
.p_t_9px{padding-top:9px !important;}
.p_t_10px{padding-top:10px !important;}
.p_t_11px{padding-top:11px !important;}
.p_t_12px{padding-top:12px !important;}
.p_t_13px{padding-top:13px !important;}
.p_t_14px{padding-top:14px !important;}
.p_t_15px{padding-top:15px !important;}
.p_t_16px{padding-top:16px !important;}
.p_t_17px{padding-top:17px !important;}
.p_t_18px{padding-top:18px !important;}
.p_t_19px{padding-top:19px !important;}
.p_t_20px{padding-top:20px !important;}
.p_t_25px{padding-top:25px !important;}
.p_t_30px{padding-top:30px !important;}
.p_t_35px{padding-top:35px !important;}
.p_t_40px{padding-top:40px !important;}
.p_t_45px{padding-top:45px !important;}
.p_t_50px{padding-top:50px !important;}
.p_t_170px{padding-top:170px !important;}
.p_l_0px{padding-left:0px !important;}
.p_l_1px{padding-left:1px !important;}
.p_l_2px{padding-left:2px !important;}
.p_l_3px{padding-left:3px !important;}
.p_l_4px{padding-left:4px !important;}
.p_l_5px{padding-left:5px !important;}
.p_l_6px{padding-left:6px !important;}
.p_l_7px{padding-left:7px !important;}
.p_l_8px{padding-left:8px !important;}
.p_l_9px{padding-left:9px !important;}
.p_l_10px{padding-left:10px !important;}
.p_l_11px{padding-left:11px !important;}
.p_l_12px{padding-left:12px !important;}
.p_l_13px{padding-left:13px !important;}
.p_l_14px{padding-left:14px !important;}
.p_l_15px{padding-left:15px !important;}
.p_l_16px{padding-left:16px !important;}
.p_l_17px{padding-left:17px !important;}
.p_l_18px{padding-left:18px !important;}
.p_l_19px{padding-left:19px !important;}
.p_l_20px{padding-left:20px !important;}
.p_l_25px{padding-left:25px !important;}
.p_l_30px{padding-left:30px !important;}
.p_l_35px{padding-left:35px !important;}
.p_l_40px{padding-left:40px !important;}
.p_l_45px{padding-left:45px !important;}
.p_l_50px{padding-left:50px !important;}
.p_l_60px{padding-left:60px !important;}
.p_l_72px{padding-left:72px !important;}
.p_l_100px{padding-left:100px !important;}
.p_l_105px{padding-left:105px !important;}
.p_l_158px{padding-left:158px !important;}
.p_r_0px{padding-right:0px !important;}
.p_r_1px{padding-right:1px !important;}
.p_r_2px{padding-right:2px !important;}
.p_r_3px{padding-right:3px !important;}
.p_r_4px{padding-right:4px !important;}
.p_r_5px{padding-right:5px !important;}
.p_r_6px{padding-right:6px !important;}
.p_r_7px{padding-right:7px !important;}
.p_r_8px{padding-right:8px !important;}
.p_r_9px{padding-right:9px !important;}
.p_r_10px{padding-right:10px !important;}
.p_r_15px{padding-right:15px !important;}
.p_r_20px{padding-right:20px !important;}
.p_r_25px{padding-right:25px !important;}
.p_r_30px{padding-right:30px !important;}
.p_r_35px{padding-right:35px !important;}
.p_r_40px{padding-right:40px !important;}
.p_r_45px{padding-right:45px !important;}
.p_r_50px{padding-right:50px !important;}

.p_0pct{padding:0% !important;}
.p_1pct{padding:1% !important;}
.p_2pct{padding:2% !important;}
.p_3pct{padding:3% !important;}
.p_4pct{padding:4% !important;}
.p_5pct{padding:5% !important;}
.p_6pct{padding:6% !important;}
.p_7pct{padding:7% !important;}
.p_8pct{padding:8% !important;}
.p_9pct{padding:9% !important;}
.p_10pct{padding:10% !important;}
.p_11pct{padding:11% !important;}
.p_12pct{padding:12% !important;}
.p_13pct{padding:13% !important;}
.p_14pct{padding:14% !important;}
.p_15pct{padding:15% !important;}
.p_16pct{padding:16% !important;}
.p_17pct{padding:17% !important;}
.p_18pct{padding:18% !important;}
.p_19pct{padding:19% !important;}
.p_20pct{padding:20% !important;}
.p_25pct{padding:25% !important;}
.p_30pct{padding:30% !important;}
.p_35pct{padding:35% !important;}
.p_40pct{padding:40% !important;}
.p_45pct{padding:45% !important;}
.p_50pct{padding:50% !important;}
.p_60pct{padding:60% !important;}
.p_70pct{padding:70% !important;}
.p_80pct{padding:80% !important;}
.p_90pct{padding:90% !important;}
.p_100pct{padding:100% !important;}
.p_b_0pct{padding-bottom:0% !important;}
.p_b_1pct{padding-bottom:1% !important;}
.p_b_2pct{padding-bottom:2% !important;}
.p_b_3pct{padding-bottom:3% !important;}
.p_b_4pct{padding-bottom:4% !important;}
.p_b_5pct{padding-bottom:5% !important;}
.p_b_6pct{padding-bottom:6% !important;}
.p_b_7pct{padding-bottom:7% !important;}
.p_b_8pct{padding-bottom:8% !important;}
.p_b_9pct{padding-bottom:9% !important;}
.p_b_10pct{padding-bottom:10% !important;}
.p_b_11pct{padding-bottom:11% !important;}
.p_b_12pct{padding-bottom:12% !important;}
.p_b_13pct{padding-bottom:13% !important;}
.p_b_14pct{padding-bottom:14% !important;}
.p_b_15pct{padding-bottom:15% !important;}
.p_b_16pct{padding-bottom:16% !important;}
.p_b_17pct{padding-bottom:17% !important;}
.p_b_18pct{padding-bottom:18% !important;}
.p_b_19pct{padding-bottom:19% !important;}
.p_b_20pct{padding-bottom:20% !important;}
.p_b_25pct{padding-bottom:25% !important;}
.p_b_30pct{padding-bottom:30% !important;}
.p_b_35pct{padding-bottom:35% !important;}
.p_b_40pct{padding-bottom:40% !important;}
.p_b_45pct{padding-bottom:45% !important;}
.p_b_50pct{padding-bottom:50% !important;}
.p_b_60pct{padding-bottom:60% !important;}
.p_b_70pct{padding-bottom:70% !important;}
.p_b_80pct{padding-bottom:80% !important;}
.p_b_90pct{padding-bottom:90% !important;}
.p_b_100pct{padding-bottom:100% !important;}
.p_t_0pct{padding-top:0% !important;}
.p_t_1pct{padding-top:1% !important;}
.p_t_2pct{padding-top:2% !important;}
.p_t_3pct{padding-top:3% !important;}
.p_t_4pct{padding-top:4% !important;}
.p_t_5pct{padding-top:5% !important;}
.p_t_6pct{padding-top:6% !important;}
.p_t_7pct{padding-top:7% !important;}
.p_t_8pct{padding-top:8% !important;}
.p_t_9pct{padding-top:9% !important;}
.p_t_10pct{padding-top:10% !important;}
.p_t_11pct{padding-top:11% !important;}
.p_t_12pct{padding-top:12% !important;}
.p_t_13pct{padding-top:13% !important;}
.p_t_14pct{padding-top:14% !important;}
.p_t_15pct{padding-top:15% !important;}
.p_t_16pct{padding-top:16% !important;}
.p_t_17pct{padding-top:17% !important;}
.p_t_18pct{padding-top:18% !important;}
.p_t_19pct{padding-top:19% !important;}
.p_t_20pct{padding-top:20% !important;}
.p_t_25pct{padding-top:25% !important;}
.p_t_30pct{padding-top:30% !important;}
.p_t_35pct{padding-top:35% !important;}
.p_t_40pct{padding-top:40% !important;}
.p_t_45pct{padding-top:45% !important;}
.p_t_50pct{padding-top:50% !important;}
.p_t_60pct{padding-top:60% !important;}
.p_t_70pct{padding-top:70% !important;}
.p_t_80pct{padding-top:80% !important;}
.p_t_90pct{padding-top:90% !important;}
.p_t_100pct{padding-top:100% !important;}
.p_l_0pct{padding-left:0% !important;}
.p_l_1pct{padding-left:1% !important;}
.p_l_2pct{padding-left:2% !important;}
.p_l_3pct{padding-left:3% !important;}
.p_l_4pct{padding-left:4% !important;}
.p_l_5pct{padding-left:5% !important;}
.p_l_6pct{padding-left:6% !important;}
.p_l_7pct{padding-left:7% !important;}
.p_l_8pct{padding-left:8% !important;}
.p_l_9pct{padding-left:9% !important;}
.p_l_10pct{padding-left:10% !important;}
.p_l_11pct{padding-left:11% !important;}
.p_l_12pct{padding-left:12% !important;}
.p_l_13pct{padding-left:13% !important;}
.p_l_14pct{padding-left:14% !important;}
.p_l_15pct{padding-left:15% !important;}
.p_l_16pct{padding-left:16% !important;}
.p_l_17pct{padding-left:17% !important;}
.p_l_18pct{padding-left:18% !important;}
.p_l_19pct{padding-left:19% !important;}
.p_l_20pct{padding-left:20% !important;}
.p_l_25pct{padding-left:25% !important;}
.p_l_30pct{padding-left:30% !important;}
.p_l_35pct{padding-left:35% !important;}
.p_l_40pct{padding-left:40% !important;}
.p_l_45pct{padding-left:45% !important;}
.p_l_50pct{padding-left:50% !important;}
.p_l_60pct{padding-left:60% !important;}
.p_l_70pct{padding-left:70% !important;}
.p_l_80pct{padding-left:80% !important;}
.p_l_90pct{padding-left:90% !important;}
.p_l_100pct{padding-left:100% !important;}
.p_r_0pct{padding-right:0% !important;}
.p_r_1pct{padding-right:1% !important;}
.p_r_2pct{padding-right:2% !important;}
.p_r_3pct{padding-right:3% !important;}
.p_r_4pct{padding-right:4% !important;}
.p_r_5pct{padding-right:5% !important;}
.p_r_6pct{padding-right:6% !important;}
.p_r_7pct{padding-right:7% !important;}
.p_r_8pct{padding-right:8% !important;}
.p_r_9pct{padding-right:9% !important;}
.p_r_10pct{padding-right:10% !important;}
.p_r_15pct{padding-right:15% !important;}
.p_r_20pct{padding-right:20% !important;}
.p_r_25pct{padding-right:25% !important;}
.p_r_30pct{padding-right:30% !important;}
.p_r_35pct{padding-right:35% !important;}
.p_r_40pct{padding-right:40% !important;}
.p_r_45pct{padding-right:45% !important;}
.p_r_50pct{padding-right:50% !important;}
.p_r_60pct{padding-right:60% !important;}
.p_r_70pct{padding-right:70% !important;}
.p_r_80pct{padding-right:80% !important;}
.p_r_90pct{padding-right:90% !important;}
.p_r_100pct{padding-right:100% !important;}

/* margin */
.m_0{margin:0px !important;}
.m_1{margin:1px !important;}
.m_2{margin:2px !important;}
.m_3{margin:3px !important;}
.m_4{margin:4px !important;}
.m_5{margin:5px !important;}
.m_10{margin:10px !important;}
.m_11{margin:11px !important;}
.m_12{margin:12px !important;}
.m_13{margin:13px !important;}
.m_14{margin:14px !important;}
.m_15{margin:15px !important;}
.m_20{margin:20px !important;}
.m_25{margin:25px !important;}
.m_30{margin:30px !important;}
.m_35{margin:35px !important;}
.m_40{margin:40px !important;}
.m_45{margin:45px !important;}
.m_50{margin:50px !important;}

.m_b_0{margin-bottom:0px !important;}
.m_b_1{margin-bottom:1px !important;}
.m_b_2{margin-bottom:2px !important;}
.m_b_3{margin-bottom:3px !important;}
.m_b_4{margin-bottom:4px !important;}
.m_b_5{margin-bottom:5px !important;}
.m_b_6{margin-bottom:6px !important;}
.m_b_7{margin-bottom:7px !important;}
.m_b_8{margin-bottom:8px !important;}
.m_b_9{margin-bottom:9px !important;}
.m_b_10{margin-bottom:10px !important;}
.m_b_11{margin-bottom:11px !important;}
.m_b_12{margin-bottom:12px !important;}
.m_b_13{margin-bottom:13px !important;}
.m_b_14{margin-bottom:14px !important;}
.m_b_15{margin-bottom:15px !important;}
.m_b_16{margin-bottom:16px !important;}
.m_b_17{margin-bottom:17px !important;}
.m_b_18{margin-bottom:18px !important;}
.m_b_19{margin-bottom:19px !important;}
.m_b_20{margin-bottom:20px !important;}
.m_b_25{margin-bottom:25px !important;}
.m_b_29{margin-bottom:29px !important;}
.m_b_30{margin-bottom:30px !important;}
.m_b_35{margin-bottom:35px !important;}
.m_b_36{margin-bottom:36px !important;}
.m_b_40{margin-bottom:40px !important;}
.m_b_45{margin-bottom:45px !important;}
.m_b_50{margin-bottom:50px !important;}
.m_b_60{margin-bottom:60px !important;}
.m_b_70{margin-bottom:70px !important;}
.m_b_80{margin-bottom:80px !important;}
.m_b_100{margin-bottom:100px !important;}

.m_t_1{margin-top:1px !important;}
.m_t_2{margin-top:2px !important;}
.m_t_3{margin-top:3px !important;}
.m_t_4{margin-top:4px !important;}
.m_t_5{margin-top:5px !important;}
.m_t_6{margin-top:6px !important;}
.m_t_7{margin-top:7px !important;}
.m_t_8{margin-top:8px !important;}
.m_t_9{margin-top:9px !important;}
.m_t_10{margin-top:10px !important;}
.m_t_11{margin-top:11px !important;}
.m_t_12{margin-top:12px !important;}
.m_t_13{margin-top:13px !important;}
.m_t_14{margin-top:14px !important;}
.m_t_15{margin-top:15px !important;}
.m_t_16{margin-top:16px !important;}
.m_t_17{margin-top:17px !important;}
.m_t_18{margin-top:18px !important;}
.m_t_19{margin-top:19px !important;}
.m_t_20{margin-top:20px !important;}
.m_t_25{margin-top:25px !important;}
.m_t_30{margin-top:30px !important;}
.m_t_35{margin-top:35px !important;}
.m_t_40{margin-top:40px !important;}
.m_t_45{margin-top:45px !important;}
.m_t_50{margin-top:50px !important;}
.m_t_65{margin-top:65px !important;}
.m_t_70{margin-top:70px !important;}
.m_t_90{margin-top:90px !important;}
.m_t_100{margin-top:100px !important;}
.m_t_110{margin-top:110px !important;}
.m_t_150{margin-top:150px !important;}
.m_t_180{margin-top:180px !important;}
.m_t_200{margin-top:200px !important;}
.m_t_220{margin-top:220px !important;}
.m_t_300{margin-top:300px !important;}
.m_t_350{margin-top:350px !important;}

.m_l_0{margin-left:0px !important;}
.m_l_1{margin-left:1px !important;}
.m_l_2{margin-left:2px !important;}
.m_l_3{margin-left:3px !important;}
.m_l_4{margin-left:4px !important;}
.m_l_5{margin-left:5px !important;}
.m_l_6{margin-left:6px !important;}
.m_l_7{margin-left:7px !important;}
.m_l_8{margin-left:8px !important;}
.m_l_9{margin-left:9px !important;}
.m_l_10{margin-left:10px !important;}
.m_l_11{margin-left:11px !important;}
.m_l_12{margin-left:12px !important;}
.m_l_13{margin-left:13px !important;}
.m_l_14{margin-left:14px !important;}
.m_l_15{margin-left:15px !important;}
.m_l_16{margin-left:16px !important;}
.m_l_17{margin-left:17px !important;}
.m_l_18{margin-left:18px !important;}
.m_l_19{margin-left:19px !important;}
.m_l_20{margin-left:20px !important;}
.m_l_25{margin-left:25px !important;}
.m_l_30{margin-left:30px !important;}
.m_l_35{margin-left:35px !important;}
.m_l_40{margin-left:40px !important;}
.m_l_45{margin-left:45px !important;}
.m_l_50{margin-left:50px !important;}
.m_l_100{margin-left:100px !important;}
.m_l_110{margin-left:110px !important;}
.m_l_115{margin-left:115px !important;}
.m_l_120{margin-left:120px !important;}
.m_l_130{margin-left:130px !important;}
.m_l_140{margin-left:140px !important;}
.m_l_155{margin-left:155px !important;}

.m_r_0{margin-right:0px !important;}
.m_r_1{margin-right:1px !important;}
.m_r_2{margin-right:2px !important;}
.m_r_3{margin-right:3px !important;}
.m_r_4{margin-right:4px !important;}
.m_r_5{margin-right:5px !important;}
.m_r_6{margin-right:6px !important;}
.m_r_7{margin-right:7px !important;}
.m_r_8{margin-right:8px !important;}
.m_r_9{margin-right:9px !important;}
.m_r_10{margin-right:10px !important;}
.m_r_11{margin-right:11px !important;}
.m_r_12{margin-right:12px !important;}
.m_r_13{margin-right:13px !important;}
.m_r_14{margin-right:14px !important;}
.m_r_15{margin-right:15px !important;}
.m_r_16{margin-right:16px !important;}
.m_r_17{margin-right:17px !important;}
.m_r_18{margin-right:18px !important;}
.m_r_19{margin-right:19px !important;}
.m_r_20{margin-right:20px !important;}
.m_r_25{margin-right:25px !important;}
.m_r_30{margin-right:30px !important;}
.m_r_35{margin-right:35px !important;}
.m_r_40{margin-right:40px !important;}
.m_r_45{margin-right:45px !important;}
.m_r_50{margin-right:50px !important;}
.m_r_65{margin-right:65px !important;}
.m_r_100{margin-right:100px !important;}

.m_0pct{margin:0% !important;}
.m_1pct{margin:1% !important;}
.m_2pct{margin:2% !important;}
.m_3pct{margin:3% !important;}
.m_4pct{margin:4% !important;}
.m_5pct{margin:5% !important;}
.m_10pct{margin:10% !important;}
.m_11pct{margin:11% !important;}
.m_12pct{margin:12% !important;}
.m_13pct{margin:13% !important;}
.m_14pct{margin:14% !important;}
.m_15pct{margin:15% !important;}
.m_20pct{margin:20% !important;}
.m_25pct{margin:25% !important;}
.m_30pct{margin:30% !important;}
.m_35pct{margin:35% !important;}
.m_40pct{margin:40% !important;}
.m_45pct{margin:45% !important;}
.m_50pct{margin:50% !important;}

.m_b_0pct{margin-bottom:0% !important;}
.m_b_1pct{margin-bottom:1% !important;}
.m_b_2pct{margin-bottom:2% !important;}
.m_b_3pct{margin-bottom:3% !important;}
.m_b_4pct{margin-bottom:4% !important;}
.m_b_5pct{margin-bottom:5% !important;}
.m_b_6pct{margin-bottom:6% !important;}
.m_b_7pct{margin-bottom:7% !important;}
.m_b_8pct{margin-bottom:8% !important;}
.m_b_9pct{margin-bottom:9% !important;}
.m_b_10pct{margin-bottom:10% !important;}
.m_b_11pct{margin-bottom:11% !important;}
.m_b_12pct{margin-bottom:12% !important;}
.m_b_13pct{margin-bottom:13% !important;}
.m_b_14pct{margin-bottom:14% !important;}
.m_b_15pct{margin-bottom:15% !important;}
.m_b_16pct{margin-bottom:16% !important;}
.m_b_17pct{margin-bottom:17% !important;}
.m_b_18pct{margin-bottom:18% !important;}
.m_b_19pct{margin-bottom:19% !important;}
.m_b_20pct{margin-bottom:20% !important;}
.m_b_25pct{margin-bottom:25% !important;}
.m_b_30pct{margin-bottom:30% !important;}
.m_b_35pct{margin-bottom:35% !important;}
.m_b_40pct{margin-bottom:40% !important;}
.m_b_45pct{margin-bottom:45% !important;}
.m_b_50pct{margin-bottom:50% !important;}
.m_b_80pct{margin-bottom:80% !important;}

.m_t_0pct{margin-top:0% !important;}
.m_t_1pct{margin-top:1% !important;}
.m_t_2pct{margin-top:2% !important;}
.m_t_3pct{margin-top:3% !important;}
.m_t_4pct{margin-top:4% !important;}
.m_t_5pct{margin-top:5% !important;}
.m_t_6pct{margin-top:6% !important;}
.m_t_7pct{margin-top:7% !important;}
.m_t_8pct{margin-top:8% !important;}
.m_t_9pct{margin-top:9% !important;}
.m_t_10pct{margin-top:10% !important;}
.m_t_11pct{margin-top:11% !important;}
.m_t_12pct{margin-top:12% !important;}
.m_t_13pct{margin-top:13% !important;}
.m_t_14pct{margin-top:14% !important;}
.m_t_15pct{margin-top:15% !important;}
.m_t_16pct{margin-top:16% !important;}
.m_t_17pct{margin-top:17% !important;}
.m_t_18pct{margin-top:18% !important;}
.m_t_19pct{margin-top:19% !important;}
.m_t_20pct{margin-top:20% !important;}
.m_t_25pct{margin-top:25% !important;}
.m_t_30pct{margin-top:30% !important;}
.m_t_35pct{margin-top:35% !important;}
.m_t_40pct{margin-top:40% !important;}
.m_t_45pct{margin-top:45% !important;}
.m_t_50pct{margin-top:50% !important;}

.m_l_0pct{margin-left:0% !important;}
.m_l_1pct{margin-left:1% !important;}
.m_l_2pct{margin-left:2% !important;}
.m_l_3pct{margin-left:3% !important;}
.m_l_4pct{margin-left:4% !important;}
.m_l_5pct{margin-left:5% !important;}
.m_l_6pct{margin-left:6% !important;}
.m_l_7pct{margin-left:7% !important;}
.m_l_8pct{margin-left:8% !important;}
.m_l_9pct{margin-left:9% !important;}
.m_l_10pct{margin-left:10% !important;}
.m_l_11pct{margin-left:11% !important;}
.m_l_12pct{margin-left:12% !important;}
.m_l_13pct{margin-left:13% !important;}
.m_l_14pct{margin-left:14% !important;}
.m_l_15pct{margin-left:15% !important;}
.m_l_16pct{margin-left:16% !important;}
.m_l_17pct{margin-left:17% !important;}
.m_l_18pct{margin-left:18% !important;}
.m_l_19pct{margin-left:19% !important;}
.m_l_20pct{margin-left:20% !important;}
.m_l_25pct{margin-left:25% !important;}
.m_l_30pct{margin-left:30% !important;}
.m_l_35pct{margin-left:35% !important;}
.m_l_40pct{margin-left:40% !important;}
.m_l_45pct{margin-left:45% !important;}
.m_l_50pct{margin-left:50% !important;}

.m_r_0pct{margin-right:0% !important;}
.m_r_1pct{margin-right:1% !important;}
.m_r_2pct{margin-right:2% !important;}
.m_r_3pct{margin-right:3% !important;}
.m_r_4pct{margin-right:4% !important;}
.m_r_5pct{margin-right:5% !important;}
.m_r_6pct{margin-right:6% !important;}
.m_r_7pct{margin-right:7% !important;}
.m_r_8pct{margin-right:8% !important;}
.m_r_9pct{margin-right:9% !important;}
.m_r_10pct{margin-right:10% !important;}
.m_r_11pct{margin-right:11% !important;}
.m_r_12pct{margin-right:12% !important;}
.m_r_13pct{margin-right:13% !important;}
.m_r_14pct{margin-right:14% !important;}
.m_r_15pct{margin-right:15% !important;}
.m_r_16pct{margin-right:16% !important;}
.m_r_17pct{margin-right:17% !important;}
.m_r_18pct{margin-right:18% !important;}
.m_r_19pct{margin-right:19% !important;}
.m_r_20pct{margin-right:20% !important;}
.m_r_25pct{margin-right:25% !important;}
.m_r_30pct{margin-right:30% !important;}
.m_r_35pct{margin-right:35% !important;}
.m_r_40pct{margin-right:40% !important;}
.m_r_45pct{margin-right:45% !important;}
.m_r_50pct{margin-right:50% !important;}

.m_b_-1{margin-bottom:-1px !important;}
.m_b_-2{margin-bottom:-2px !important;}
.m_b_-3{margin-bottom:-3px !important;}
.m_b_-4{margin-bottom:-4px !important;}
.m_b_-5{margin-bottom:-5px !important;}
.m_b_-6{margin-bottom:-6px !important;}
.m_b_-7{margin-bottom:-7px !important;}
.m_b_-8{margin-bottom:-8px !important;}
.m_b_-9{margin-bottom:-9px !important;}
.m_b_-10{margin-bottom:-10px !important;}
.m_b_-11{margin-bottom:-11px !important;}
.m_b_-12{margin-bottom:-12px !important;}
.m_b_-13{margin-bottom:-13px !important;}
.m_b_-14{margin-bottom:-14px !important;}
.m_b_-15{margin-bottom:-15px !important;}
.m_b_-16{margin-bottom:-16px !important;}
.m_b_-17{margin-bottom:-17px !important;}
.m_b_-18{margin-bottom:-18px !important;}
.m_b_-19{margin-bottom:-19px !important;}
.m_b_-20{margin-bottom:-20px !important;}
.m_b_-25{margin-bottom:-25px !important;}
.m_b_-30{margin-bottom:-30px !important;}
.m_b_-35{margin-bottom:-35px !important;}
.m_b_-40{margin-bottom:-40px !important;}
.m_b_-45{margin-bottom:-45px !important;}
.m_b_-50{margin-bottom:-50px !important;}
.m_b_-80{margin-bottom:-80px !important;}

.m_t_-1{margin-top:-1px !important;}
.m_t_-2{margin-top:-2px !important;}
.m_t_-3{margin-top:-3px !important;}
.m_t_-4{margin-top:-4px !important;}
.m_t_-5{margin-top:-5px !important;}
.m_t_-6{margin-top:-6px !important;}
.m_t_-7{margin-top:-7px !important;}
.m_t_-8{margin-top:-8px !important;}
.m_t_-9{margin-top:-9px !important;}
.m_t_-10{margin-top:-10px !important;}
.m_t_-11{margin-top:-11px !important;}
.m_t_-12{margin-top:-12px !important;}
.m_t_-13{margin-top:-13px !important;}
.m_t_-14{margin-top:-14px !important;}
.m_t_-15{margin-top:-15px !important;}
.m_t_-16{margin-top:-16px !important;}
.m_t_-17{margin-top:-17px !important;}
.m_t_-18{margin-top:-18px !important;}
.m_t_-19{margin-top:-19px !important;}
.m_t_-20{margin-top:-20px !important;}
.m_t_-25{margin-top:-25px !important;}
.m_t_-30{margin-top:-30px !important;}
.m_t_-35{margin-top:-35px !important;}
.m_t_-40{margin-top:-40px !important;}
.m_t_-45{margin-top:-45px !important;}
.m_t_-50{margin-top:-50px !important;}

.m_l_-1{margin-left:-1px !important;}
.m_l_-2{margin-left:-2px !important;}
.m_l_-3{margin-left:-3px !important;}
.m_l_-4{margin-left:-4px !important;}
.m_l_-5{margin-left:-5px !important;}
.m_l_-6{margin-left:-6px !important;}
.m_l_-7{margin-left:-7px !important;}
.m_l_-8{margin-left:-8px !important;}
.m_l_-9{margin-left:-9px !important;}
.m_l_-10{margin-left:-10px !important;}
.m_l_-11{margin-left:-11px !important;}
.m_l_-12{margin-left:-12px !important;}
.m_l_-13{margin-left:-13px !important;}
.m_l_-14{margin-left:-14px !important;}
.m_l_-15{margin-left:-15px !important;}
.m_l_-16{margin-left:-16px !important;}
.m_l_-17{margin-left:-17px !important;}
.m_l_-18{margin-left:-18px !important;}
.m_l_-19{margin-left:-19px !important;}
.m_l_-20{margin-left:-20px !important;}
.m_l_-25{margin-left:-25px !important;}
.m_l_-30{margin-left:-30px !important;}
.m_l_-35{margin-left:-35px !important;}
.m_l_-40{margin-left:-40px !important;}
.m_l_-45{margin-left:-45px !important;}
.m_l_-50{margin-left:-50px !important;}
.m_l_-62{margin-left:-62px !important;}

.m_r_-1{margin-right:-1px !important;}
.m_r_-2{margin-right:-2px !important;}
.m_r_-3{margin-right:-3px !important;}
.m_r_-4{margin-right:-4px !important;}
.m_r_-5{margin-right:-5px !important;}
.m_r_-6{margin-right:-6px !important;}
.m_r_-7{margin-right:-7px !important;}
.m_r_-8{margin-right:-8px !important;}
.m_r_-9{margin-right:-9px !important;}
.m_r_-10{margin-right:-10px !important;}
.m_r_-11{margin-right:-11px !important;}
.m_r_-12{margin-right:-12px !important;}
.m_r_-13{margin-right:-13px !important;}
.m_r_-14{margin-right:-14px !important;}
.m_r_-15{margin-right:-15px !important;}
.m_r_-16{margin-right:-16px !important;}
.m_r_-17{margin-right:-17px !important;}
.m_r_-18{margin-right:-18px !important;}
.m_r_-19{margin-right:-19px !important;}
.m_r_-20{margin-right:-20px !important;}
.m_r_-25{margin-right:-25px !important;}
.m_r_-30{margin-right:-30px !important;}
.m_r_-35{margin-right:-35px !important;}
.m_r_-40{margin-right:-40px !important;}
.m_r_-45{margin-right:-45px !important;}
.m_r_-50{margin-right:-50px !important;}

/* width height */
.h_auto{height:auto !important;}
.h_0{height:0px !important;}
.h_1{height:1px !important;}
.h_2{height:2px !important;}
.h_3{height:3px !important;}
.h_4{height:4px !important;}
.h_5{height:5px !important;}
.h_6{height:6px !important;}
.h_7{height:7px !important;}
.h_8{height:8px !important;}
.h_9{height:9px !important;}
.h_10{height:10px !important;}
.h_11{height:11px !important;}
.h_12{height:12px !important;}
.h_13{height:13px !important;}
.h_14{height:14px !important;}
.h_15{height:15px !important;}
.h_16{height:16px !important;}
.h_17{height:17px !important;}
.h_18{height:18px !important;}
.h_19{height:19px !important;}
.h_20{height:20px !important;}
.h_22{height:22px !important;}
.h_24{height:24px !important;}
.h_25{height:25px !important;}
.h_26{height:26px !important;}
.h_28{height:28px !important;}
.h_29{height:29px !important;}
.h_30{height:30px !important;}
.h_35{height:35px !important;}
.h_40{height:40px !important;}
.h_45{height:45px !important;}
.h_50{height:50px !important;}
.h_60{height:60px !important;}
.h_70{height:70px !important;}
.h_80{height:80px !important;}
.h_90{height:90px !important;}
.h_100{height:100px !important;}
.h_110{height:110px !important;}
.h_120{height:120px !important;}
.h_142{height:142px !important;}
.h_150{height:150px !important;}
.h_168{height:168px !important;}
.h_170{height:170px !important;}
.h_180{height:180px !important;}
.h_185{height:185px !important;}
.h_190{height:190px !important;}
.h_200{height:200px !important;}
.h_215{height:215px !important;}
.h_220{height:220px !important;}
.h_230{height:230px !important;}
.h_237{height:237px !important;}
.h_250{height:250px !important;}
.h_258{height:258px !important;}
.h_270{height:270px !important;}
.h_280{height:280px !important;}
.h_285{height:285px !important;}
.h_300{height:300px !important;}
.h_312{height:312px !important;}
.h_320{height:320px !important;}
.h_321{height:321px !important;}
.h_330{height:330px !important;}
.h_340{height:340px !important;}
.h_343{height:343px !important;}
.h_350{height:350px !important;}
.h_360{height:360px !important;}
.h_370{height:370px !important;}
.h_386{height:386px !important;}
.h_400{height:400px !important;}
.h_410{height:410px !important;}
.h_424{height:424px !important;}
.h_450{height:450px !important;}
.h_490{height:490px !important;}
.h_500{height:500px !important;}
.h_530{height:530px !important;}
.h_540{height:540px !important;}
.h_546{height:546px !important;}
.h_550{height:550px !important;}
.h_600{height:600px !important;}
.h_650{height:650px !important;}
.h_687{height:687px !important;}
.h_700{height:700px !important;}
.h_750{height:750px !important;}
.h_800{height:800px !important;}
.h_850{height:850px !important;}
.h_900{height:900px !important;}
.h_950{height:950px !important;}
.h_1000{height:1000px !important;}
.h_0pct{height:0% !important;}
.h_1pct{height:1% !important;}
.h_2pct{height:2% !important;}
.h_3pct{height:3% !important;}
.h_4pct{height:4% !important;}
.h_5pct{height:5% !important;}
.h_6pct{height:6% !important;}
.h_7pct{height:7% !important;}
.h_8pct{height:8% !important;}
.h_9pct{height:9% !important;}
.h_10pct{height:10% !important;}
.h_11pct{height:11% !important;}
.h_12pct{height:12% !important;}
.h_13pct{height:13% !important;}
.h_14pct{height:14% !important;}
.h_15pct{height:15% !important;}
.h_16pct{height:16% !important;}
.h_17pct{height:17% !important;}
.h_18pct{height:18% !important;}
.h_19pct{height:19% !important;}
.h_20pct{height:20% !important;}
.h_25pct{height:25% !important;}
.h_30pct{height:30% !important;}
.h_33pct{height:33% !important;}
.h_34pct{height:34% !important;}
.h_35pct{height:35% !important;}
.h_40pct{height:40% !important;}
.h_45pct{height:45% !important;}
.h_50pct{height:50% !important;}
.h_60pct{height:60% !important;}
.h_70pct{height:70% !important;}
.h_80pct{height:80% !important;}
.h_90pct{height:90% !important;}
.h_100pct{height:100% !important;}

.w_auto{width:auto !important;}
.w_0{width:0px !important;}
.w_1{width:1px !important;}
.w_2{width:2px !important;}
.w_3{width:3px !important;}
.w_4{width:4px !important;}
.w_5{width:5px !important;}
.w_6{width:6px !important;}
.w_7{width:7px !important;}
.w_8{width:8px !important;}
.w_9{width:9px !important;}
.w_10{width:10px !important;}
.w_11{width:11px !important;}
.w_12{width:12px !important;}
.w_13{width:13px !important;}
.w_14{width:14px !important;}
.w_15{width:15px !important;}
.w_16{width:16px !important;}
.w_17{width:17px !important;}
.w_18{width:18px !important;}
.w_19{width:19px !important;}
.w_20{width:20px !important;}
.w_24{width:24px !important;}
.w_25{width:25px !important;}
.w_30{width:30px !important;}
.w_40{width:40px !important;}
.w_45{width:45px !important;}
.w_50{width:50px !important;}
.w_60{width:60px !important;}
.w_70{width:70px !important;}
.w_71{width:71px !important;}
.w_80{width:80px !important;}
.w_90{width:90px !important;}
.w_94{width:94px !important;}
.w_97{width:97px !important;}
.w_98{width:98px !important;}
.w_100{width:100px !important;}
.w_103{width:103px !important;}
.w_109{width:109px !important;}
.w_110{width:110px !important;}
.w_120{width:120px !important;}
.w_121{width:121px !important;}
.w_122{width:122px !important;}
.w_130{width:130px !important;}
.w_140{width:140px !important;}
.w_150{width:150px !important;}
.w_155{width:155px !important;}
.w_160{width:160px !important;}
.w_170{width:170px !important;}
.w_180{width:180px !important;}
.w_190{width:190px !important;}
.w_200{width:200px !important;}
.w_210{width:210px !important;}
.w_218{width:218px !important;}
.w_220{width:220px !important;}
.w_230{width:230px !important;}
.w_240{width:240px !important;}
.w_245{width:245px !important;}
.w_250{width:250px !important;}
.w_260{width:260px !important;}
.w_270{width:270px !important;}
.w_280{width:280px !important;}
.w_290{width:290px !important;}
.w_300{width:300px !important;}
.w_365{width:365px !important;}
.w_378{width:378px !important;}
.w_350{width:350px !important;}
.w_400{width:400px !important;}
.w_410{width:410px !important;}
.w_408{width:408px !important;}
.w_450{width:450px !important;}
.w_470{width:470px !important;}
.w_500{width:500px !important;}
.w_526{width:526px !important;}
.w_550{width:550px !important;}
.w_576{width:576px !important;}
.w_592{width:592px !important;}
.w_600{width:600px !important;}
.w_620{width:620px !important;}
.w_650{width:650px !important;}
.w_700{width:700px !important;}
.w_750{width:750px !important;}
.w_760{width:760px !important;}
.w_780{width:780px !important;}
.w_800{width:800px !important;}
.w_820{width:820px !important;}
.w_850{width:850px !important;}
.w_900{width:900px !important;}
.w_910{width:910px !important;}
.w_940{width:940px !important;}
.w_950{width:950px !important;}
.w_1000{width:1000px !important;}
.w_1380{width:1380px !important;}
.w_1500{width:1500px !important;}

.w_0pct{width:0% !important;}
.w_1pct{width:1% !important;}
.w_2pct{width:2% !important;}
.w_3pct{width:3% !important;}
.w_4pct{width:4% !important;}
.w_5pct{width:5% !important;}
.w_6pct{width:6% !important;}
.w_7pct{width:7% !important;}
.w_8pct{width:8% !important;}
.w_9pct{width:9% !important;}
.w_10pct{width:10% !important;}
.w_11pct{width:11% !important;}
.w_12pct{width:12% !important;}
.w_13pct{width:13% !important;}
.w_14pct{width:14% !important;}
.w_15pct{width:15% !important;}
.w_16pct{width:16% !important;}
.w_17pct{width:17% !important;}
.w_18pct{width:18% !important;}
.w_19pct{width:19% !important;}
.w_20pct{width:20% !important;}
.w_22pct{width:22% !important;}
.w_25pct{width:25% !important;}
.w_30pct{width:30% !important;}
.w_31pct{width:31% !important;}
.w_32pct{width:32% !important;}
.w_33pct{width:33% !important;}
.w_34pct{width:34% !important;}
.w_35pct{width:35% !important;}
.w_36pct{width:36% !important;}
.w_38pct{width:38% !important;}
.w_39pct{width:39% !important;}
.w_40pct{width:40% !important;}
.w_41pct{width:41% !important;}
.w_42pct{width:42% !important;}
.w_43pct{width:43% !important;}
.w_45pct{width:45% !important;}
.w_46pct{width:46% !important;}
.w_47pct{width:47% !important;}
.w_48pct{width:48% !important;}
.w_49pct{width:49% !important;}
.w_50pct{width:50% !important;}
.w_60pct{width:60% !important;}
.w_61pct{width:61% !important;}
.w_62pct{width:62% !important;}
.w_63pct{width:63% !important;}
.w_65pct{width:65% !important;}
.w_70pct{width:70% !important;}
.w_80pct{width:80% !important;}
.w_83pct{width:83% !important;}
.w_84pct{width:84% !important;}
.w_85pct{width:85% !important;}
.w_90pct{width:90% !important;}
.w_91pct{width:91% !important;}
.w_94pct{width:94% !important;}
.w_96pct{width:96% !important;}
.w_98pct{width:98% !important;}
.w_100pct{width:100% !important;}

/* border */
.b_d_0{border-width:0px !important;}
.b_d_1{border-width:1px !important;}
.b_d_2{border-width:2px !important;}
.b_d_3{border-width:3px !important;}
.b_d_4{border-width:4px !important;}
.b_d_5{border-width:5px !important;}
.b_d_6{border-width:6px !important;}
.b_d_7{border-width:7px !important;}
.b_d_8{border-width:8px !important;}
.b_d_9{border-width:9px !important;}
.b_d_10{border-width:10px !important;}
.b_d_t_0{border-top-width:0px !important;}
.b_d_t_1{border-top-width:1px !important;}
.b_d_t_2{border-top-width:2px !important;}
.b_d_t_3{border-top-width:3px !important;}
.b_d_t_4{border-top-width:4px !important;}
.b_d_t_5{border-top-width:5px !important;}
.b_d_t_6{border-top-width:6px !important;}
.b_d_t_7{border-top-width:7px !important;}
.b_d_t_8{border-top-width:8px !important;}
.b_d_t_9{border-top-width:9px !important;}
.b_d_t_10{border-top-width:10px !important;}
.b_d_r_0{border-right-width:0px !important;}
.b_d_r_1{border-right-width:1px !important;}
.b_d_r_2{border-right-width:2px !important;}
.b_d_r_3{border-right-width:3px !important;}
.b_d_r_4{border-right-width:4px !important;}
.b_d_r_5{border-right-width:5px !important;}
.b_d_r_6{border-right-width:6px !important;}
.b_d_r_7{border-right-width:7px !important;}
.b_d_r_8{border-right-width:8px !important;}
.b_d_r_9{border-right-width:9px !important;}
.b_d_r_10{border-right-width:10px !important;}
.b_d_b_0{border-bottom-width:0px !important;}
.b_d_b_1{border-bottom-width:1px !important;}
.b_d_b_2{border-bottom-width:2px !important;}
.b_d_b_3{border-bottom-width:3px !important;}
.b_d_b_4{border-bottom-width:4px !important;}
.b_d_b_5{border-bottom-width:5px !important;}
.b_d_b_6{border-bottom-width:6px !important;}
.b_d_b_7{border-bottom-width:7px !important;}
.b_d_b_8{border-bottom-width:8px !important;}
.b_d_b_9{border-bottom-width:9px !important;}
.b_d_b_10{border-bottom-width:10px !important;}
.b_d_l_0{border-left-width:0px !important;}
.b_d_s_solid{border-style:solid !important;}
.b_d_s_dott{border-style:dotted !important;}
.b_d_c_gray1{border-color:#bdbdbd !important;}
.b_d_c_gray2{border-color:#e6e6e6 !important;}
.b_d_c_gray3{border-color:#888 !important;}
.b_d_c_gray4{border-color:#ddd !important;}
.b_1 {border:1px solid #e6e6e6;}

.b_d_b_1{border-bottom:1px solid #DDD !important;}
.b_r_1{border-right:1px solid #DDD !important;}

/* position */
.position_a{position:absolute !important;}
.position_f{position:fixed !important;}
.position_r{position:relative !important;}
.position_s{position:static !important;}


/* top */
.top_1{top:1px !important;}
.top_2{top:2px !important;}
.top_3{top:3px !important;}
.top_4{top:4px !important;}
.top_5{top:5px !important;}
.top_6{top:6px !important;}
.top_7{top:7px !important;}
.top_8{top:8px !important;}
.top_9{top:9px !important;}
.top_10{top:10px !important;}
.top_20{top:20px !important;}
.top_30{top:30px !important;}
.top_40{top:40px !important;}
.top_50{top:50px !important;}
.top_60{top:60px !important;}
.top_70{top:70px !important;}
.top_80{top:80px !important;}
.top_90{top:90px !important;}
.top_100{top:100px !important;}

.top_1pct{top:1% !important;}
.top_2pct{top:2% !important;}
.top_3pct{top:3% !important;}
.top_4pct{top:4% !important;}
.top_5pct{top:5% !important;}
.top_6pct{top:6% !important;}
.top_7pct{top:7% !important;}
.top_8pct{top:8% !important;}
.top_9pct{top:9% !important;}
.top_10pct{top:10% !important;}
.top_20pct{top:20% !important;}
.top_30pct{top:30% !important;}
.top_40pct{top:40% !important;}
.top_50pct{top:50% !important;}
.top_60pct{top:60% !important;}
.top_70pct{top:70% !important;}
.top_80pct{top:80% !important;}
.top_90pct{top:90% !important;}
.top_100pct{top:100% !important;}


/* left */
.left_0{left:0px !important;}
.left_1{left:1px !important;}
.left_2{left:2px !important;}
.left_3{left:3px !important;}
.left_4{left:4px !important;}
.left_5{left:5px !important;}
.left_6{left:6px !important;}
.left_7{left:7px !important;}
.left_8{left:8px !important;}
.left_9{left:9px !important;}
.left_10{left:10px !important;}
.left_20{left:20px !important;}
.left_30{left:30px !important;}
.left_40{left:40px !important;}
.left_50{left:50px !important;}
.left_60{left:60px !important;}
.left_70{left:70px !important;}
.left_80{left:80px !important;}
.left_90{left:90px !important;}
.left_100{left:100px !important;}

.left_1pct{left:1% !important;}
.left_2pct{left:2% !important;}
.left_3pct{left:3% !important;}
.left_4pct{left:4% !important;}
.left_5pct{left:5% !important;}
.left_6pct{left:6% !important;}
.left_7pct{left:7% !important;}
.left_8pct{left:8% !important;}
.left_9pct{left:9% !important;}
.left_10pct{left:10% !important;}
.left_20pct{left:20% !important;}
.left_30pct{left:30% !important;}
.left_40pct{left:40% !important;}
.left_50pct{left:50% !important;}
.left_60pct{left:60% !important;}
.left_70pct{left:70% !important;}
.left_80pct{left:80% !important;}
.left_90pct{left:90% !important;}
.left_100pct{left:100% !important;}


/* right */
.right_0{right:0px !important;}
.right_1{right:1px !important;}
.right_2{right:2px !important;}
.right_3{right:3px !important;}
.right_4{right:4px !important;}
.right_5{right:5px !important;}
.right_6{right:6px !important;}
.right_7{right:7px !important;}
.right_8{right:8px !important;}
.right_9{right:9px !important;}
.right_10{right:10px !important;}
.right_20{right:20px !important;}
.right_30{right:30px !important;}
.right_40{right:40px !important;}
.right_50{right:50px !important;}
.right_60{right:60px !important;}
.right_70{right:70px !important;}
.right_80{right:80px !important;}
.right_90{right:90px !important;}
.right_100{right:100px !important;}

.right_1pct{right:1% !important;}
.right_2pct{right:2% !important;}
.right_3pct{right:3% !important;}
.right_4pct{right:4% !important;}
.right_5pct{right:5% !important;}
.right_6pct{right:6% !important;}
.right_7pct{right:7% !important;}
.right_8pct{right:8% !important;}
.right_9pct{right:9% !important;}
.right_10pct{right:10% !important;}
.right_20pct{right:20% !important;}
.right_30pct{right:30% !important;}
.right_40pct{right:40% !important;}
.right_50pct{right:50% !important;}
.right_60pct{right:60% !important;}
.right_70pct{right:70% !important;}
.right_80pct{right:80% !important;}
.right_90pct{right:90% !important;}
.right_100pct{right:100% !important;}


/* bottom */
.bottom_1{bottom:1px !important;}
.bottom_2{bottom:2px !important;}
.bottom_3{bottom:3px !important;}
.bottom_4{bottom:4px !important;}
.bottom_5{bottom:5px !important;}
.bottom_6{bottom:6px !important;}
.bottom_7{bottom:7px !important;}
.bottom_8{bottom:8px !important;}
.bottom_9{bottom:9px !important;}
.bottom_10{bottom:10px !important;}
.bottom_20{bottom:20px !important;}
.bottom_30{bottom:30px !important;}
.bottom_40{bottom:40px !important;}
.bottom_50{bottom:50px !important;}
.bottom_60{bottom:60px !important;}
.bottom_70{bottom:70px !important;}
.bottom_80{bottom:80px !important;}
.bottom_90{bottom:90px !important;}
.bottom_100{bottom:100px !important;}

.bottom_1pct{bottom:1% !important;}
.bottom_2pct{bottom:2% !important;}
.bottom_3pct{bottom:3% !important;}
.bottom_4pct{bottom:4% !important;}
.bottom_5pct{bottom:5% !important;}
.bottom_6pct{bottom:6% !important;}
.bottom_7pct{bottom:7% !important;}
.bottom_8pct{bottom:8% !important;}
.bottom_9pct{bottom:9% !important;}
.bottom_10pct{bottom:10% !important;}
.bottom_20pct{bottom:20% !important;}
.bottom_30pct{bottom:30% !important;}
.bottom_40pct{bottom:40% !important;}
.bottom_50pct{bottom:50% !important;}
.bottom_60pct{bottom:60% !important;}
.bottom_70pct{bottom:70% !important;}
.bottom_80pct{bottom:80% !important;}
.bottom_90pct{bottom:90% !important;}
.bottom_100pct{bottom:100% !important;}