.program-top-live-popup,
.program01-outlink-popup,
.program02-speaker-popup {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
}
.program-top-live-popup.on,
.program01-outlink-popup.on,
.program02-speaker-popup.on {
  display: block;
}
.dim {
  display: block;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}
.program-top-live-popup-inner,
.program01-outlink-popup-inner {
  position: fixed;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  font-size: 30px;
  color: #000;
  white-space: normal;
}
.program-top-live-popup-inner button,
.program01-outlink-popup-inner button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  font-size: 20px;
  font-family: 'nanumsquare';
  font-weight: bold;
  color: #000;
  background-color: #54fe54;
}
.pop-btn{
  display: block;
  margin: 15px auto;
  max-width: 160px;
  padding: 5px 0;
  color: #000;
  background-color:#54fe54;
}
@media (max-width:550px) {
  .program-top-live-popup-inner, 
  .program01-outlink-popup-inner {
    width:90%;
    font-size: 25px;
  }
}

@media (max-width:380px) {
  .program-top-live-popup-inner, 
  .program01-outlink-popup-inner {
    font-size: 22px;
  }
}