<!--HEAD
    {
        "title": "목록 - 사전등록"
    }
HEAD-->
{% include 'components/admin/header.html' ignore missing %}
<main class="container-fluid py-1">
    <h1 class="h3">사전등록
        <small>
            <a href="/admin/pre_registration/excel" class="btn btn-sm btn-danger"><b>Excel Download</b> <span class="small">[last 7days]</span></a>
            <a href="/admin/pre_registration/excel/{{ "now"|date("Y-m-d") }}" class="btn btn-sm btn-danger"><b>Excel Download</b> <span class="small">[Today]</span></a>
        </small>
    </h1>
    <!-- <form method="get" class="form-inline">
        <input class="form-control mr-2 mb-2" type="text" name="infomation[company]" placeholder="업체명"
            value="{{body.get.infomation.company}}">
        <input class="form-control mr-2 mb-2" type="text" name="infomation[name]" placeholder="담당자"
            value="{{body.get.infomation.name}}">
        <input class="form-control mr-2 mb-2" type="text" name="infomation[phone]]" placeholder="연락처"
            value="{{body.get.infomation.phone}}">
        <input class="form-control mr-2 mb-2" type="text" name="infomation[email]" placeholder="이메일"
            value="{{body.get.infomation.email}}">
        <div class="form-check form-check-inline mr-2 mb-2">
            <input class="form-check-input" type="radio" id="hidden" name="hidden" value="Y"
                {% if body.get.hidden == 'Y' %} checked {% endif %}>
            <label class="form-check-label mr-2" for="hidden">숨김</label>

            <input class="form-check-input" type="radio" id="show" name="hidden" value="N"
                {% if body.get.hidden != 'Y' %} checked {% endif %}>
            <label class="form-check-label" for="show">보임</label>
        </div>
        <select name="infomation[status]" class="form-control mr-2 mb-2">
            <option value="">전체</option>
            {% for v in ['접수','검토','답변'] %}
            <option {% if v == body.get.infomation.status %}selected{% endif %}>{{v}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-danger mr-2 mb-2" type="submit">검색</button>
        <a class="btn btn-info mr-2 mb-2" href="/admin/enquiry">초기화</a>
        <a href="/admin/enquiry/regist" class="btn btn-primary mr-2 mb-2">등록</a>
    </form> -->
    <div class="table-responsive-lg">
        <table class="table table-striped text-center small">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>메일주소</th>
                    <th>이름</th>
                    <th>핸드폰번호</th>
                    <th>소속</th>
                    <th>관심분야</th>
                    <th>유입경로</th>
                    <th>수신여부</th>
                    <th>발송여부</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for row in body.rows %}
                {% if row.hidden == 'Y' %}
                <tr class="bg-info">
                    {% else %}
                <tr>
                    {% endif %}
                    <td class="visible-lg">{{row.idx}}</td>
                    <td><a href="/admin/pre_registration/read?id={{row.id}}">{{row.email}}</a></td>
                    <td>{{row.infomation.name}}</td>
                    <td>{{row.infomation.phone}}</td>
                    <td>{{row.infomation.organization}}</td>
                    <td>{{row.interests.label|join(', ')}}</td>
                    <td>{{row.funnel.label|join(', ')}}</td>
                    <td>{{row.subscribe}}</td>
                    <td>{{row.email_sending}}</td>
                    <td>
                        <buton type='button' class='btn btn-danger btn-sm' data-id="{{row.id}}">삭제</buton>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'components/paging.html' ignore missing %}
</main>
{% include 'components/admin/footer.html' ignore missing %}
<script src="/script/pre_registration/remove"></script>
<script>
    var btn = document.querySelectorAll('table .btn');
    for (i = 0; i < btn.length; i++) {
        btn[i].addEventListener('click', function () {
            if (confirm('삭제하시겠습니까?')) {
                _pre_registration.remove({ id: this.getAttribute('data-id') }, [], function (t, body) {
                    window.location.reload();
                });
            }
        });
    }
</script>
<style>
    main td,
    main th {
        white-space: nowrap;
        vertical-align: middle !important;
    }
</style>