<!--HEAD
    {
        "title": "상세 - 사전등록"
    }
HEAD-->
{% include 'components/admin/header.html' ignore missing %}
<main class="container-fluid py-1">
    <h1 class="h3">상세 - 사전등록</h1>
    <input type="hidden" name="id" value="{{body.row.id}}">
    <dl>
        <dt>이메일</dt>
        <dd>{{body.row.email}}</dd>
        <dt>이름</dt>
        <dd>{{body.row.infomation.name}}</dd>
        <dt>휴대번호</dt>
        <dd>{{body.row.infomation.phone}}</dd>
        <dt>소속</dt>
        <dd>{{body.row.infomation.organization}}</dd>
        <dt>유입경로</dt>
        <dd>
            {{body.row.funnel.label|join(',')}}
            {% if '기타' in body.row.funnel.label %}
                ( {{body.row.funnel.etc}} )
            {% endif %}
        </dd>
        <dt>관심분야</dt>
        <dd>
            {{body.row.interests.label|join(',')}}
            {% if '기타' in body.row.interests.label %}
                ( {{body.row.funnel.etc}} )
            {% endif %}
        </dd>
        <dt>질의내용</dt>
        <dd>{{body.row.comment|nl2br}}</dd>
    </dl>
    <a href="/admin/pre_registration?page={{body.get.page}}" class="btn btn-info">목록</a>
    <!-- <a href="/admin/pre_registration/modify?id={{body.get.id}}" class="btn btn-info">수정</a> -->
</main>
{% include 'components/admin/footer.html' ignore missing %}
<script src="/script/pre_registration/modify"></script>
<script>
 $('main select').on('change', function(){
    if(confirm('상태를 변경하시겠습니까?')) {
        _pre_registration.modify({id: $('main input[name=id]').val()},{infomation:{status: $(this).val()}}, function(body){
            console.log(body);
        })
    }
 });
</script>