<div class="side-wrap">
    <div class="scroll-func">
        <div class="depth">
            <ul>
                <li>
                    <a href="/innocon">2020INNOCON</a>
                    <ul class="depth2">
                        <li><a href="/innocon">2020INNOCON</a></li>
                        <li><a href="/opening">인사말씀</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/pre_registration/regist">등록</a>
                </li>
                <li>
                    <a href="/program">프로그램</a>
                    <ul class="depth2">
                        <li><a href="/program">세부프로그램</a></li>
                        <li><a href="/speaker">참여인사</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/hire">채용정보 및 제휴기업</a>
                    <ul class="depth2">
                        <li><a href="/hire">채용정보관</a></li>
                        <li><a href="/affiliated">제휴기업</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/introduce">이노베이션 아카데미 사업소개</a>
                    <ul class="depth2">
                        <li><a href="/introduce">아카데미 소개</a></li>
                        <li><a href="/42seoul">42 SEOUL 지원하기</a></li>
                        <li><a href="/promotion">홍보영상</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/event">이벤트</a>
                </li>
            </ul>
            <p></p>
        </div>
        <div class="side-close">
            <a onclick="left_menu_onoff();"><img src="/assets/images/layout/m_close.png"></a>
        </div>
    </div>
</div>

<div class="black-bg"></div>