<div id="footer">
    <div class="inner">
        <div class="title">
            <a target="_blank" href="https://www.msit.go.kr/index.do"><img src="/assets/images/layout/footer_logo_01.png"></a>
            <a target="_blank" href="https://www.seoul.go.kr/main/index.jsp"><img src="/assets/images/layout/footer_logo_02.png"></a>
            <a target="_blank" href="https://www.iitp.kr/main.it"><img src="/assets/images/layout/footer_logo_03.png"></a>
            <a target="_blank" href="https://innovationacademy.kr/"><img src="/assets/images/layout/footer_logo_04.png"></a>
            {% if user %}
            <a style="color:#54fe54;" class="admin-btn" target="_blank" href="/admin">관리자 바로가기</a>
            {% endif %}
        </div>
        <div class="info">
            <p>2020 이노베이션아카데미컨퍼런스 사무국 ┃ TEL_02-2152-5067  ┃ E-MAIL_2020innocon@gmail.com  ┃ 연락가능시간_월~금 10:00~17:00</p>
        </div>
        <div class="m-info">
            <p>2020 이노베이션아카데미컨퍼런스 사무국 </p>
            <p>TEL_02-2152-5067  ┃ 연락가능시간_월~금 10:00~17:00</p>
            <p>E-MAIL_2020innocon@gmail.com</p>
        </div>
        <div class="copyright">
            <p>ⓒ2020 INNOVATION ACADEMY CONFERENCE. </p>
            <p>All Rights reserved.</p>
        </div>
    </div>
</div>