<div id="header">
    <div class="inner main-inner">
        <h1 class="logo">
            <a href="/"></a>
        </h1>
        <div class="menu">
            <!-- 20201127 김소라 삭제 -->
            <!--<span class="state">-->
                <!-- 로그아웃상태 -->
                <!--<a href="login" class="login-btn">로그인</a>--> <!-- 20201126 김소라 수정 -->
                <!-- 로그인상태 -->
                <!--<a href="#none" class="logout-btn">로그아웃</a>
            </span>-->
            <!------------------------->
            <a href="javascript:left_menu_onoff();">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="gnb">
            <ul>
                <li><a href="/innocon">2020INNOCON</a></li>
                <li><a href="/pre_registration/regist">등록</a></li>
                <li><a href="/program">프로그램</a></li> <!-- 20201126GW링크추가 -->
                <li><a href="/hire">채용정보 및 제휴기업</a></li>
                <li><a href="/introduce">이노베이션 아카데미 사업소개</a></li>
                <li><a href="/event">이벤트</a></li>
                <!-- 20201127 김소라 삭제 -->
                <!-- 로그아웃상태 -->
                <!--<li><a href="login" class="login-btn">로그인</a></li>--><!-- 20201126 김소라 수정 -->
                <!-- 로그인상태 -->
                <!--<li><a href="#none" class="logout-btn">로그아웃</a></li>-->
                <!------------------------->
            </ul>
            <div class="lnb">
                <div class="inner">
                    <div class="lnb1">
                        <ul>
                            <li><a href="/innocon">2020INNOCON</a></li>
                            <li><a href="/opening">인사말씀</a></li>
                        </ul>
                    </div>
                    <div class="lnb2">
                        <ul>
                            <li><a href="/pre_registration/regist">사전등록</a></li>
                        </ul>
                    </div>
                    <div class="lnb3">
                        <ul>
                            <li><a href="/program">세부프로그램</a></li> <!-- 20201126GW링크추가 -->
                            <li><a href="/speaker">참여인사</a></li> <!-- 20201126GW링크추가 -->
                        </ul>
                    </div>
                    <div class="lnb4">
                        <ul>
                            <li><a href="/hire">채용정보관</a></li>
                            <li><a href="/affiliated">제휴기업</a></li>
                        </ul>
                    </div>
                    <div class="lnb5">
                        <ul>
                            <li><a href="/introduce">아카데미 소개</a></li>
                            <li><a href="/42seoul">42 SEOUL 지원하기</a></li>
                            <li><a href="/promotion">홍보영상</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>