<!--HEAD
    {
        "title": "이노베이션"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션"}
        ]
    }
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/affiliated.css" />
{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}
<div id="container">
    <div class="title-top">
        <div class="title-top-bn">
            <h2>2020<br>inno-<em>con</em></h2>
            <p>2020이노베이션아카데미컨퍼런스<br><span class="sub">: CHANGE THE WORLD WITH SOFTWARE</span></p>
            <div class="bg"><img src="/assets/images/alliance/top_banner_img_04.svg"
                    alt="채용정보관" class="program-top-bn-img"></div> <!-- 20201126 수정 -->
        </div>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가-->
    <div class="mob-top-img">
        <img src="/assets/images/alliance/top_banner_img_04.svg" alt="제휴기업"
            class="mob-program-top-bn-img">
    </div>
    <div class="alliance-top-info">
        <div class="alliance-top-info-inner">
            <div class="table">
                <div class="row">
                    <h3 class="cell title">제휴기업<br></h3>
                </div>
                <div class="row">
                    <p class="cell cont">
                        <span class="sub"> 이노베이션 아카데미의 다양한 제휴 기업들의 정보를 확인해보세요!<br>또한, 이노베이션 아카데미와의 파트너 제휴를 신청하세요!</span>
                    </p>
                </div>
            </div>
            <div class="cell-btn">
                <a href="/partner" class="hire-link">제휴기업<span>(파트너사)</span> 신청안내</a>
                <a target="_blank"
                    href="/assets/files/이노베이션 아카데미 컨퍼런스_파트너사제휴관_참가신청서.hwp" class="hire-download-link" download>제휴기업<span>(파트너사)</span> 신청서 다운로드</a>
            </div>
        </div>
        <a href="/partner" class="hire-link mob-btn">제휴기업<span>(파트너사)</span> 신청안내</a>
        <a href="/assets/files/이노베이션 아카데미 컨퍼런스_파트너사제휴관_참가신청서.hwp" class="hire-download-link  mob-btn" download>제휴기업<span>(파트너사)</span> 신청서 다운로드</a>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가 끝-->
    <ul class="top-tab grid2">
        <li><a href="hire">채용정보관</a></li>
        <li class="active"><a href="affiliated">제휴기업</a></li>
    </ul>
    <div id="contents">
        <div class="alliance-wrap">
            <div class="alliance01">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/1.png" alt="협업툴 콜라비 로고" />
                    </div>
                    <h3>(주)협업툴 콜라비</h3>
                </div>
            </div>
            <div class="alliance02">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/2.png" alt="멋쟁이사자처럼 로고" />
                    </div>
                    <h3>(주)멋쟁이사자처럼</h3>
                </div>
            </div>
            <div class="alliance03">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/3.png" alt="구름 로고" />
                    </div>
                    <h3>㈜구름</h3>
                </div>
            </div>
            <div class="alliance04">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/4.png" alt="커먼컴퓨터 로고" />
                    </div>
                    <h3>커먼컴퓨터</h3>
                </div>
            </div>
            <div class="alliance05">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/5.png" alt="엔슬파트너스 로고" />
                    </div>
                    <h3>(주)엔슬파트너스</h3>
                </div>
            </div>
            <div class="alliance06">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/6.png" alt="신한DS 로고" />
                    </div>
                    <h3>신한DS</h3>
                </div>
            </div>
            <div class="alliance07">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/7.png" alt="데이콘(주) 로고" />
                    </div>
                    <h3>데이콘(주)</h3>
                </div>
            </div>
            <div class="alliance08">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/8.png" alt="(주)토스랩 로고" />
                    </div>
                    <h3>(주)토스랩</h3>
                </div>
            </div>
            <div class="alliance09">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/9.png" alt="(주)보이저엑스 로고" />
                    </div>
                    <h3>(주)보이저엑스</h3>
                </div>
            </div>
            <div class="alliance10">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/10.png" alt="CJ올리브네트웍스(주) 로고" />
                    </div>
                    <h3>CJ올리브네트웍스(주)</h3>
                </div>
            </div>
            <div class="alliance11">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/11.png" alt="매직에코 로고" />
                    </div>
                    <h3>매직에코</h3>
                </div>
            </div>
            <div class="alliance12">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/12.png" alt="라인플러스 로고" />
                    </div>
                    <h3>라인플러스</h3>
                </div>
            </div>
            <div class="alliance13">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/13.png" alt="메가존아이티평생교육원 로고" />
                    </div>
                    <h3>메가존아이티평생교육원</h3>
                </div>
            </div>
            <div class="alliance14">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/14.png" alt="(주)코드잇 로고" />
                    </div>
                    <h3>(주)코드잇</h3>
                </div>
            </div>
            <div class="alliance15">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/15.png" alt="(주)씨엘플러스 로고" />
                    </div>
                    <h3>(주)씨엘플러스</h3>
                </div>
            </div>
            <div class="alliance16">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/16.png" alt="(주)만인의꿈쉐어니도 로고" />
                    </div>
                    <h3>(주)만인의꿈쉐어니도</h3>
                </div>
            </div>
            <div class="alliance17">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/17.png" alt="앤앤컴퍼니 로고" />
                    </div>
                    <h3>앤앤컴퍼니</h3>
                </div>
            </div>
            <div class="alliance18">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/18.png" alt="(주)패스트캠퍼스 로고" />
                    </div>
                    <h3>(주)패스트캠퍼스</h3>
                </div>
            </div>
            <div class="alliance19">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/19.png" alt="법무법인 비트 로고" />
                    </div>
                    <h3>법무법인 비트</h3>
                </div>
            </div>
            <div class="alliance20">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/20.png" alt="모두의연구소 로고" />
                    </div>
                    <h3>모두의연구소</h3>
                </div>
            </div>
            <div class="alliance21">
                <div class="company-cell">
                    <div class="thumb">
                         <img src="/assets/images/alliance/21.png" alt="주)GTN KOREA 로고" />
                    </div>
                    <h3>주)GTN KOREA</h3>
                </div>
            </div>
            <div class="alliance22">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/22.png" alt="NHN Edu(주) 로고" />
                    </div>
                    <h3>NHN Edu(주)</h3>
                </div>
            </div>
            <div class="alliance23">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/23.png" alt="(주)인프랩 로고" />
                    </div>
                    <h3>(주)인프랩</h3>
                </div>
            </div>
            <div class="alliance24">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/24.png" alt="BC카드(주) 로고" />
                    </div>
                    <h3>BC카드(주)</h3>
                </div>
            </div>
            <div class="alliance25">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/25.png" alt="(주)KTDS 로고" />
                    </div>
                    <h3>(주)KTDS</h3>
                </div>
            </div>
            <div class="alliance26">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/26.png" alt="러닝스푼즈 로고" />
                    </div>
                    <h3>러닝스푼즈</h3>
                </div>
            </div>
            <div class="alliance27">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/27.png" alt="개포시장상인회 로고" />
                    </div>
                    <h3>개포시장상인회</h3>
                </div>
            </div>
            <div class="alliance28">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/28.png" alt="SK텔레콤(주) 로고" />
                    </div>
                    <h3>SK텔레콤(주)</h3>
                </div>
            </div>
            <div class="alliance29">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/29.png" alt="현대오토에버 로고" />
                    </div>
                    <h3>현대오토에버</h3>
                </div>
            </div>
            <div class="alliance30">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/30.png" alt="한화생명 드림플러스 로고" />
                    </div>
                    <h3>한화생명 드림플러스</h3>
                </div>
            </div>
            <div class="alliance31">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/31.png" alt="코리아스타트업포럼 로고" />
                    </div>
                    <h3>코리아스타트업포럼</h3>
                </div>
            </div>
            <div class="alliance32">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/32.png" alt="한국건물에너지기술원원 로고" />
                    </div>
                    <h3>한국건물에너지기술원</h3>
                </div>
            </div>
            <div class="alliance33">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/33.png" alt="(주)곰앤컴퍼니 로고" />
                    </div>
                    <h3>(주)곰앤컴퍼니</h3>
                </div>
            </div>
            <div class="alliance34">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/34.png" alt="코인플러그 로고" />
                    </div>
                    <h3>(주)코인플러그</h3>
                </div>
            </div>
            <div class="alliance35">
                <div class="company-cell">
                    <div class="thumb">
                        <img src="/assets/images/alliance/35.png" alt="AI Factory 로고" />
                    </div>
                    <h3>AI Factory</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    includeHTML(function () {
        $("#header .gnb > ul > li:eq(3)").addClass("on");
    });
</script>