<!--HEAD
    {
        "title": "이노베이션"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션"}
        ]
    }
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/hire.css" />
{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}

<div id="container">
    <div class="title-top">
        <div class="title-top-bn">
            <h2>2020<br>inno-<em>con</em></h2>
            <p>2020이노베이션아카데미컨퍼런스<br><span class="sub">: CHANGE THE WORLD WITH SOFTWARE</span></p>
            <div class="bg"><img src="/assets/images/hire/top_banner_img_02.svg" alt="채용정보관" class="program-top-bn-img"></div> <!-- 20201126 수정 -->
        </div>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가-->
    <div class="mob-top-img">
        <img src="/assets/images/hire/top_banner_img_02.svg" alt="채용정보관" class="mob-program-top-bn-img">
    </div>
    <div class="hire-top-info">
        <div class="hire-top-info-inner">
            <div class="table">
                <div class="row">
                    <h3 class="cell title">2020 INNOCON 채용정보관<br></h3>
                </div>
                <div class="row">
                    <p class="cell cont">
                        <span class="sub"> 이노베이션 아카데미의 다양한 MOU협약 기업들의 정보를 확인하고, 채용 정보를 확인해보세요!</span>
                        <span class="desc">로고를 클릭하면 채용정보를 확인할 수 있어요!</span>
                    </p>
                </div>
            </div>
            <div class="cell-btn">
                <a href="recruitment" class="hire-link">채용정보관 신청안내</a>
                <a href="/assets/files/이노베이션 아카데미 컨퍼런스_채용정보관_참가신청서.hwp" class="hire-download-link" download>채용정보관 신청서 다운로드</a>
            </div>
        </div>
        <a href="recruitment" class="hire-link mob-btn">채용정보관 신청안내</a>
        <a href="/assets/files/이노베이션 아카데미 컨퍼런스_채용정보관_참가신청서.hwp"  class="hire-download-link  mob-btn" download>채용정보관 신청서 다운로드</a>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가 끝-->
    <ul class="top-tab grid2">
        <li class="active"><a href="hire">채용정보관</a></li>
        <li><a href="affiliated">제휴기업</a></li>
    </ul>

    <div id="contents">
        <div class="hire-wrap">
            <div class="hire01">
                <h3>주식회사 글로벌트러스트 네트웍스코리아</h3>
                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="http://www.gtnkorea.net/kr/sub/recruit_list.php?bgu=view&idx=4">
                            <img src="/assets/images/hire/hire-logo01.png" alt="gtn 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://www.gtnkorea.net/kr/sub/recruit_list.php?bgu=view&idx=4"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2018.1.2</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">인재서비스, 생활서포트</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">5명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 서초구 강남대로 381</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.gtnkorea.net/">http://www.gtnkorea.net/</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        ‘글로벌 트러스트 네트웍스는 코리아’는 외국인 생활서포트 전문기업 ‘글로벌 트러스트 네트웍스‘의 한국지사로 한국인 엔지니어 분들이 쓸데없는 수고나 비용을 들이지 않고 일본의 우량 기업에 취업할 수 있도록 완벽한 지원 체제를 제공하고 있습니다.
                    </div>
                </div>
            </div>
            <div class="hire02">
                <h3>㈜곰앤컴퍼니</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://bit.ly/37IWcw7">
                            <img src="/assets/images/hire/hire-logo02.png" alt="곰앤컴퍼니 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://bit.ly/37IWcw7"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">1999.02.18</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">소프트웨어, 콘텐츠 비즈니스, 광고 솔루션, 미디어 SW사업 등</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">약 100명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 강남구 개포로216 곰앤컴퍼니 빌딩</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://www.gomcorp.com">https://www.gomcorp.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        곰앤컴퍼니는 1999년 창립 이래 동영상 소프트웨어 개발 및 컨텐츠 플랫폼 서비스를 중심으로 발전해온 미디어 전문 IT기업입니다.  ‘Make, Play@Sha re a video with Gom’ 이라는 목표 아래 다양한 미디어 전문 소프트웨어와 컨텐츠 플랫폼 서비스를 공급하고 있으며, 한국과 일본을 중심으로 글로벌 사업영역을 지속적으로 확대해 나가고 있습니다.  아울러, 동영상 분야에 핵심이 되는 필수 기술과 제품들을 소비자의 눈높이에 맞게 제공하기 위한 지속적인 연구개발과 서비스 품질 개선에 주력하고 있으며, 이를 통해 동영상의 소비-생산-공유로 이어지는 온라인 미디어 생태계의 확산과 안착에 기여하고자 합니다.
                    </div>
                    <a href="javascript:void(0)" class="moreBtn">더보기</a>
                </div>
            </div>
            <div class="hire03">
                <h3>㈜구름</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://www.notion.so/goorm/ea8bdf37dee443d39676c826f834a5ec">
                            <img src="/assets/images/hire/hire-logo03.png" alt="구름 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.notion.so/goorm/ea8bdf37dee443d39676c826f834a5ec"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2013.03.08</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">소프트웨어 개발 및 공급</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">30명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">경기도 성남시 분당구 판교로 242 PDC A동 602호</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://goorm.io">https://goorm.io</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        개발자 성장 중심의 생태계를 만들어가는 구름
                    </div>
                </div>
            </div>
            <div class="hire04">
                <h3>보이저엑스</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://www.notion.so/Career-at-VoyagerX-833e2878660a4a7590b6946c0da8b151">
                            <img src="/assets/images/hire/hire-logo04.png" alt="보이저엑스 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.notion.so/Career-at-VoyagerX-833e2878660a4a7590b6946c0da8b151"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2017.03.08</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">서비스, 소프트웨어개발 및 자문</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">25명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 서초구 서초대로38길 12, 마제스타시티 타워2 9층</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://voyagerx.com">https://voyagerx.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        보이저엑스는 더욱 즐겁고 편리한 삶을 돕는 인공지능 소프트웨어를 개발하는 스타트업 입니다.
                    </div>
                </div>
            </div>
            <div class="hire05">
                <h3>만인의꿈 (쉐어니도)</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="http://manindream.com/33">
                            <img src="/assets/images/hire/hire-logo05.png" alt="쉐어니도 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://manindream.com/33"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2016.04.06</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">부동산업 및 임대업</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">20명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울특별시 서대문구 연세로5다길 41, 2층 지층</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://sharenido.com">https://sharenido.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        쉐어니도는 MZ세대의 라이프스타일을 반영한 복합 주거 플랫폼으로 강남 홍대 52개 하우스 300명의 입주민과 함께하고 있습니다.
                    </div>
                </div>
            </div>
            <div class="hire06">
                <h3>신한DS</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://www.linkedin.com/jobs/view/2307230167/?refId=6708289511606353401788&trackingId=iOa1UkJR7ZuPGenX6Zr%2Ftw%3D%3D">
                            <img src="/assets/images/hire/hire-logo06.png" alt="신한DS 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.linkedin.com/jobs/view/2307230167/?refId=6708289511606353401788&trackingId=iOa1UkJR7ZuPGenX6Zr%2Ftw%3D%3D"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">1991.05.13</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">디지털, ICT R&D, 정보보안 등 미래 성장사업, SI, SM, IT O, IT 컨설팅 업무, BPO 및 기간통신사업</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">961명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 중구 남대문로10길 29</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.shinhands.co.kr">www.shinhands.co.kr</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        대한민국 금융IT를 선도하는 디지털 전문기업
                    </div>
                </div>
            </div>
            <div class="hire07">
                <h3>주식회사 인프랩</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank"href="https://www.inflearn.com/pages/withus">
                            <img src="/assets/images/hire/hire-logo07.png" alt="인프랩 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.inflearn.com/pages/withus"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2017.04.06</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">온라인교육, 서비스업 </div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">24명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">경기도 성남시 분당구 판교역로 240, 삼환하이펙스 2층 208-1호9</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.inflearn.com">www.inflearn.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        모두가 양질의 교육을 받을 수 있는 온라인 클래스 플랫폼을 만듭니다.
                    </div>
                </div>
            </div>
            <div class="hire08">
                <h3>㈜케어마인드</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank"href="https://www.notion.so/caremind/defd16a0e0e24b0fbd1739939114efd0 ">
                            <img src="/assets/images/hire/hire-logo08.png" alt="케어마인드 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.notion.so/caremind/defd16a0e0e24b0fbd1739939114efd0 "><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2017.06.01</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">IT, 헬스케어, 플랫폼</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">7명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 종로구 종로6 광화문우체국빌딩 6층 스타트업빌리지</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://www.notion.so/caremind/defd16a0e0e24b0fbd1739939114efd0">https://www.notion.so/caremind/defd16a0e0e24b0fbd1739939114efd0</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        수술 후 자가 회복 관리 플랫폼, 에포터
                    </div>
                </div>
            </div>
            <div class="hire09">
                <h3>㈜코인플러그</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a href="http://www.jobkorea.co.kr/Recruit/GI_Read/32917414?Oem_Code=C1">
                            <img src="/assets/images/hire/hire-logo09.png" alt="코인플러그 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://www.jobkorea.co.kr/Recruit/GI_Read/32917414?Oem_Code=C1"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2013.10.02</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">소프트웨어개발</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">77명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">경기도 성남시 분당구 판교역로 146번길20, 11층(백현동, 오피스에이치)</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.coinplug.com">www.coinplug.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        세계 특허보유 1위 블록체인 기술 전문기업
                    </div>
                </div>
            </div>
            <div class="hire10">
                <h3>(사)한국건물에너지기술원</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=39149395&view_type=etc">
                            <img src="/assets/images/hire/hire-logo10.png" alt="한국건물에너지기술원 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://www.saramin.co.kr/zf_user/jobs/view?rec_idx=39149395&view_type=etc"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2011.12</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">전문, 과학 및 기술서비스업/에너지진단, 건축물에너지효율등급인증심사</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">100명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울특별시 서초구 반포대로30길 81, 웅진타워 7층, 8층</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.kbet.or.kr">http://www.kbet.or.kr</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        에너지·IT 융합 연구소는 건물에너지 효율화 운영을 위한 건물에너지 분석 및 평가기술, 스마트 IoT기반의 머신러닝 기술, 에너지 거래 기술 등을 연구·개발하며, 에너지와 ICT기술 융합을 통해 보다 가치 있는 솔루션을 제공해 나가고 있습니다.
                    </div>
                </div>
            </div>
            <div class="hire11">
                <h3>화해</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://www.hwahae.co.kr/recruit/apply/49?pos_type=0">
                            <img src="/assets/images/hire/hire-logo11.png" alt="화해 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="https://www.hwahae.co.kr/recruit/apply/49?pos_type=0"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2014.06.24</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">IT, 모바일APP</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">100명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울 서초구 서초대로 396 (강남빌딩 19층)</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://hwahae.co.kr/">http://hwahae.co.kr/</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        No.1 모바일 뷰티 플랫폼 화해입니다.
                    </div>
                </div>
            </div>
            <div class="hire12">
                <h3>주식회사 커먼컴퓨터</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="https://www.notion.so/Software-Engineer-43632a385d7643acb46d111a196a9b28">
                            <img src="/assets/images/hire/hire-logo12.png" alt="커먼컴퓨터 로고"/>
                        </a>
                        <div class="in-thumb">
                            <div class="text cell"><a target="_blank" href="https://www.notion.so/Software-Engineer-43632a385d7643acb46d111a196a9b28"><span>채용 공고 확인</span></a></div>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2018.05.10</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">소프트웨어 개발, <br/> AI, Block chain</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">27명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울특별시 서초구 매헌로8길 47 희경빌딩 B동 405호</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://www.comcom.ai">www.comcom.ai</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        커먼컴퓨터는 블록체인 클라우드와 인공지능을 통해 가치의 인터넷을 실현하고자 합니다.
                    </div>
                </div>
            </div>
            <div class="hire1">
                <h3>현대오토에버</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="http://www.hyundai-autoever.com/recruit/userRecruitList.view">
                            <img src="/assets/images/hire/hire-logo13.png" alt="현대오토에버 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://www.hyundai-autoever.com/recruit/userRecruitList.view"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">2000.04.10</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">IT서비스</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">2,150명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울시 강남구 등</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="http://www.hyundai-autoever.com/common/goPage.view?page=ko/main">www.hyundai-autoever.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        디지털 혁신을 통해 고객의 성장을 견인하는 Value Creator
                    </div>
                </div>
            </div>
            <div class="hire14">
                <h3>CJ올리브네트웍스</h3>

                <div class="company-cell">
                    <div class="thumb">
                        <a target="_blank" href="http://www.saramin.co.kr/zf_user/company-info/view?csn=NmtJLzlTa2tDeXNlMzluZWlnUzQ5dz09">
                            <img src="/assets/images/hire/hire-logo14.png" alt="CJ올리브네트웍스 로고"/>
                        </a>
                        <div class="in-thumb">
                            <a target="_blank" href="http://www.saramin.co.kr/zf_user/company-info/view?csn=NmtJLzlTa2tDeXNlMzluZWlnUzQ5dz09"><span>채용 공고 확인</span></a>
                        </div>
                    </div>
                    <div class="desc-box">
                        <div class="desc cell line">
                            <div class="title cell">설립일</div>
                            <div class="text cell">1995.03.15</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">업종/분야</div>
                            <div class="text cell">소프트웨어자문, <br>개발및공급, IT서비스</div>
                        </div>
                        <div class="desc cell line">
                            <div class="title cell">사원수</div>
                            <div class="text cell">1,105명</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">소재지</div>
                            <div class="text cell">서울특별시 용산구 한강대로 366, 10층(동자동, 트윈시티)</div>
                        </div>
                        <div class="desc cell">
                            <div class="title cell">홈페이지</div>
                            <div class="text cell"><a target="_blank" href="https://www.cjolivenetworks.co.kr:449/">https://www.cjolivenetworks.co.kr</a></div>
                        </div>
                    </div>
                </div>
                <div class="introduce cell">
                    <div>
                        고객과 사회의 행복을 선도하는 Top Tier 디지털 서비스 기업, CJ올리브네트웍스
                    </div>
                </div>
            </div>
        </div>
        <div class="full-btn"><a href="http://www.saramin.co.kr/zf_user/jobs/list/job-category?cat_bcd=4&edu_min=8&edu_max=11" target="_blank">더 많은 IT 채용공고 보러가기 &gt;&gt;</a></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".moreBtn").click(function() {
            $(this).parent().toggleClass("active");

        });
    });

    window.onload = function(){
        var a = document.querySelectorAll('a');
        var agent = navigator.userAgent.toLowerCase();
        for (var k in a) {
            if (a.hasOwnProperty(k)) {
                a[k].addEventListener('click', function(e){
                    if(this.href.indexOf('notion.so') > 0 && ((navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1))) {
                        alert('해당 링크는 크롬에 최적화되어있습니다. \n 크롬 브라우저를 활용하여 주세요.');
                        e.preventDefault();
                    }
                });
            }
        }
    }

    includeHTML(function () {
        $("#header .gnb > ul > li:eq(3)").addClass("on");
    });
</script>