<!--HEAD
    {
        "title": "이노베이션"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션"}
        ]
    }
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/introduce.css" />
{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}

<div id="container">
    <div class="title-top">
        <div class="title-top-bn">
            <h2>2020<br>inno-<em>con</em></h2>
            <p>2020이노베이션아카데미컨퍼런스<br><span class="sub">: CHANGE THE WORLD WITH SOFTWARE</span></p>
            <div class="bg"><img src="/assets/images/introduce/top_banner_img_06.svg" alt="이노베이션 아카데미 소개" class="program-top-bn-img"></div> <!-- 20201126 수정 -->
        </div>
    </div>
    <!--20201126 모바일 버전으로 이미지 추가-->
    <div class="mob-top-img">
        <img src="/assets/images/introduce/top_banner_img_06.svg" alt="이노베이션 아카데미 소개" class="mob-program-top-bn-img">
    </div>
    <!--20201126 모바일 버전으로 이미지 추가 끝-->
    <!--20201127 배너상자 추가-->
    <div class="introduce-top-info">
        <div class="introduce-top-info-inner">
            <div class="table">
                <div class="row">
                    <h3 class="cell title">디지털뉴딜 혁신을 이끌 인재를<br>양성하는 이노베이션 아카데미<br></h3>
                </div>
                <div class="row">
                    <p class="cell cont"><span class="sub"> 이노베이션 아카데미는 인재양성과 소프트웨어 산업 발전에<br>기여함을 목적으로 설립된 혁신 교육 기관입니다.</span></p>
                </div>
            </div>
            <a href="https://innovationacademy.kr" target="_blank" class="home-link">이노베이션<br>아카데미<br>홈페이지 바로 가기</a>
            <a href="https://innovationacademy.kr" target="_blank" class="mob-home-link">이노베이션 아카데미 홈페이지 바로 가기</a>
        </div>
    </div>
    <ul class="top-tab grid2 tab-3"><!--20201126 클래스 추가-->
        <li class="active"><a href="introduce">아카데미 소개</a></li>
        <li><a href="42seoul">42 SEOUL 지원하기</a></li>
        <li><a href="promotion">홍보영상</a></li>
    </ul>

    <div id="contents">
        <div class="introduce-wrap">
            <div class="introduce01">
                <h3>아카데미 인재상</h3>
                <div class="thumb"><img src="/assets/images/introduce/introduce01.png"></div>
                <div class="box">
                    <ul>
                        <li>
                            <strong>reativity | 창의</strong>
                            <p>컴퓨팅 사고력을 기반으로 다양한 생각의 틀과 아이디어를 가진 창의적 인재</p>
                        </li>
                        <li>
                            <strong>ritical thinking |  비판적 사고</strong>
                            <p>세사의 다양한 문제에 대한 문제해결능력과 비판적 사고 능력을 갖춘 인재</p>
                        </li>
                        <li>
                            <strong>convergence | 융합역량</strong>
                            <p>다양한 분야의 전문지식과 디지털 리더러시를 갖춘 융합형 통섭 인재</p>
                        </li>
                        <li>
                            <strong>hallenge |  도전정신</strong>
                            <p>지식에 대한 탐구심과 열정을 가지고 끊임없이 학습하고 도전 하는 인재</p>
                        </li>
                        <li>
                            <strong>ollaboration |  공감과 협업</strong>
                            <p>경청과 공감을 매개로 글로벌 소통 능력을 가지고 서로 협업하는 인재</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="introduce02">
                <h3>아카데미 주요사업 : 1. <span>“<em>42 SEOUL</em>”</span></h3>
                <div class="thumb"><img src="/assets/images/introduce/introduce02.png"></div>
                <div class="box">
                    <strong>우수한 소프트웨어 개발자 양성 (42서울)</strong>
                    <span class="desc">교수, 교재, 학비가 없는<br>3<em>無</em> 교육 프로그램 42 SEOUL 운영</span>
                    <ul>
                        <li><p>자발적 동기 중심의 비 학위 교육과정</p></li>
                        <li><p>동료들과 함께 성장하는 P2P ( Peer to Peer )교육방식</p></li>
                        <li><p>실무에 꼭 필요한 기초역량 프로젝트</p></li>
                        <li><p>현장선배들과 함께 하는 응용기술 프로젝트</p></li>
                        <li><p>고급인재 육성을 위한 기업협력 프로젝트</p></li>
                    </ul>
                </div>
            </div>

            <div class="introduce03">
                <h3>아카데미 주요사업 : 2. <span>“<em>새로운 소프트웨어 시스템</em>”</span></h3>
                <div class="thumb"><img src="/assets/images/introduce/introduce03.png"></div>
                <div class="box">
                    <strong>새로운 소프트웨어 학습시스템 개발</strong>
                    <span class="desc">오픈소스기반 교육시스템</span>
                    <ul>
                        <li><p>PBL(Project Based Learning) 방식의 경험 중심의 현장형 학습</p></li>
                        <li><p>빅데이터를 기반으로 내 수준에 맞춰 변화하는 적응형 학습관리 체계</p></li>
                        <li><p>자가 및 동료 학습, 동료 평가, 멘토링을 지원하는 온라인 학습 커뮤니티</p></li>
                        <li><p>개발자 성장의 핵심 도구인 ‘코드리뷰’ 오픈 플랫폼</p></li>
                        <li><p>역량 기반의 적응형 학습을 위한 프로젝트 매칭</p></li>
                        <li><p>AI, 머신러닝 등 미래 산업에 빠르게 적응하는 교육 과정</p></li>
                        <li><p>클라우드 기반 기능별 SaaS 모델로 기존 교육 시스템들과 연계</p></li>
                        <li><p>오픈소스로 지속적 혁신을 수용하고,</p></li>
                        <li><p>오픈 데이터로 교육 혁신을 위한 기초 데이터 확보</p></li>
                    </ul>
                </div>
            </div>

            <div class="introduce04">
                <h3>아카데미 주요사업 : 3. <span>“<em>소프트웨어 생태계 활성화</em>”</span></h3>
                <div class="thumb"><img src="/assets/images/introduce/introduce04.png"></div>
                <div class="box">
                    <strong>소프트웨어 생태계 활성화</strong>
                    <span class="desc">교육 현장, 개발자 생태계<br>그리고 기업을 잇는 허브 역할 수행</span>
                    <ul>
                        <li><p>소프트웨어 생태계 활성화를 위한 다양한 컨퍼런스 개최</p></li>
                        <li><p>소프트웨어 개발자, 경력 전환 교육과 관련한 새로운 시도 지원</p></li>
                        <li><p>기업들의 Developer Relationship 활동 지원</p></li>
                        <li><p>4차 산업혁명 대응 인문사회학적 콘텐츠 제작 및 배포</p></li>
                        <li><p>소프트웨어 커뮤니티, 오픈소스 커뮤니티 지원</p></li>
                        <br>
                        <li><p>잠재력 있는 개발자를 먼저 만날 수 있는 기회</p></li>
                        <li><p>높은 역량을 가진 개발자 인턴 및 채용</p></li>
                        <li><p>교육생과 공동 프로젝트 수행</p></li>
                        <li><p>현장성이 담긴 교육 콘텐츠 공동 제작</p></li>
                        <li><p>소프트웨어 교육 시스템 개발 및 확산에 참여</p></li>
                        <li><p>개발자 행사 공동 개최 및 참여</p></li>
                        <li><p>교육생을 통한 맞춤형 홍보</p></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    includeHTML(function () {
        $("#header .gnb > ul > li:eq(4)").addClass("on");
    });
</script>