<!--HEAD
    {
        "title": "이노베이션"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션"}
        ]
    }
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}

<div id="container">
    <div id="login">
        <h2>LOGIN</h2>
        <div class="login-box">
            <div class="id">
                <div class="input-line">
                    <input type="text" id="id" placeholder="이메일" class="input-box">
                </div>
                <a href="#none" class="login-find" data-popup-open="login-find">이메일 찾기</a>
            </div>
            <div class="password">
                <div class="input-line">
                    <input type="password" id="password" placeholder="비밀번호" class="input-box">
                </div>
                <a href="#none" class="login-find" data-popup-open="pw-find">비밀번호 찾기</a>
            </div>
            <div class="btn-area">
                <a href="javascript:void(0)" class="gray-btn loginBtn">로그인</a>
            </div>
        </div>
        <!--<a href="join.html" class="join-btn">회원가입</a>-->
    </div>


    <div class="pop-bg"></div><!-- 팝업배경 -->

    <!-- 아이디 찾기 팝업 -->
    <div id="login-find" class="footerPop loginPop" data-popup="login-find">
        <div class="pop-title">이메일 찾기</div>
        <p>회원가입시 등록하신<br>휴대폰 번호로 이메일 주소를 보내 드립니다.</p>
        <div class="input-line">
            <input type="text" id="loginPhone" placeholder="- 없이 번호만 입력해주세요." class="input-box">
        </div>

        <button class="w100 gray-btn bradius5 btn">다음</button>

        <a class="close" href="javascript:void(0)" data-popup-close="login-find"><img src="/assets/images/program/close_black.png" alt="닫기"></a>
    </div>


    <!-- 비밀번호 찾기 팝업 -->
    <div id="pw-find" class="footerPop loginPop" data-popup="pw-find">
        <div class="pop-title">비밀번호 찾기</div>
        <p>회원가입시 등록하신<br>휴대폰 번호로 비밀번호를 보내 드립니다.</p>
        <div class="input-line">
            <input type="text" id="pwPhone" placeholder="- 없이 번호만 입력해주세요." class="input-box">
        </div>

        <button class="w100 gray-btn bradius5 btn">다음</button>

        <a class="close" href="javascript:void(0)" data-popup-close="pw-find"><img src="/assets/images/program/close_black.png" alt="닫기"></a>
    </div>


    <!-- 비밀번호 재설정 팝업 -->
    <div id="pw-return" class="footerPop loginPop">
        <div class="pop-title">비밀번호 재설정</div>
        <p>전송된 인증코드와<br>비밀번호를 재설정 해주세요.</p>
        <div class="input-line">
            <input type="text" id="pw-return01" placeholder="인증코드" class="input-box">
        </div>

        <div class="input-line">
            <input type="password" id="pw-return02" placeholder="새로운 비밀번호" class="input-box">
        </div>

        <div class="input-line">
            <input type="password" id="pw-return03" placeholder="새로운 비밀번호 확인" class="input-box">
        </div>

        <button class="w100 gray-btn bradius5 btn">재설정 하기</button>

        <a class="close" href="javascript:void(0)"><img src="/assets/images/program/close_black.png" alt="닫기"></a>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".input-box").on('input',function(){
            $(this).addClass("active");
            var boxCount = $(this).parent().parent().parent().find(".input-box").length;
            var boxCountac =$(this).parent().parent().parent().find(".input-box.active").length;

            var boxCount2 = $(this).parent().parent().find(".input-box").length;
            var boxCountac2 =$(this).parent().parent().find(".input-box.active").length;

            if(boxCount == boxCountac) {
                $(".loginBtn").attr("class","green-btn loginBtn");
                $(".loginBtn").attr('href', '#none');
                if($(this).val()=='') {
                    $(this).removeClass("active");
                    $(".loginBtn").attr("class","gray-btn loginBtn");
                    $(".loginBtn").attr('href', '');
                }
            } else {
                if($(this).val()=='') {
                    $(this).removeClass("active");
                    $(".loginBtn").attr("class","gray-btn loginBtn");
                    $(".loginBtn").attr('href', '');
                }
            }

            if(boxCount2 == boxCountac2) {
                $(".btn").addClass("on");
                if($(this).val()=='') {
                    $(this).removeClass("active");
                    $(".btn").removeClass("on");
                }
            } else {
                if($(this).val()=='') {
                    $(this).removeClass("active");
                    $(".btn").removeClass("on");
                }
            }
        });
    });

    $(document).on('click', "#login-find .btn.on", function() {
        $(".input-box").removeClass("active").val('');
        $('.loginPop').fadeOut(0);
        $(".pop-bg").hide();
        $(".btn").removeClass("on");
    });

    $(document).on('click', "#pw-find .btn.on", function() {
        $(".input-box").removeClass("active").val('');
        $("#pw-find").hide();
        $("#pw-return").show();
        $(".btn").removeClass("on");
    });

    $(document).on('click', "#pw-return .btn.on, #pw-return .close", function() {
        $(".input-box").removeClass("active").val('');
        $('.loginPop').fadeOut(0);
        $(".pop-bg").hide();
        $(".btn").removeClass("on");
    });
    includeHTML(function () {
        $("#header .gnb > ul > li:eq(6)").addClass("on");
    });
</script>
