<!--HEAD
    {
        "title": "2020INNO-CON"
        ,"meta": [
            {"property": "og:description",  "content":"이노베이션아카데미컨퍼런스"}
            ,{"property": "og:image",  "content":"/assets/images/layout/share_img.png"}
        ]
    } 
HEAD-->
<link rel="stylesheet" type="text/css" href="/assets/css/viSimpleSlider.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/main.css?_sdlfksdjfl" />
{% include 'client/kr/components/header.html' %}
{% include 'client/kr/components/drawer-menu.html' %}

<div id="container">
    <div class="contents">
        <div class="visual">
            <img src="/assets/images/main/main_top.svg" class="p-img">
            <!-- 20201126 수정 -->
            <img src="/assets/images/main/m_banner.png" class="m-img">
            <p id="typing">innovation academy_</p> <!-- 20201127 김소라 수정 -->
        </div>

        <div class="main-menu">
            <div>
                <a href="/innocon">
                    <div class="thumb"><img src="/assets/images/main/main_menu_01.svg">
                    </div>
                    <p>INNO-CON 소개</p>
                </a>
            </div>
            <div>
                <a href="/pre_registration/regist">
                    <div class="thumb"><img src="/assets/images/main/main_menu_04.svg">
                    </div>
                    <p>INNO-CON 사전등록</p>
                </a>
            </div>
            <div>
                <a href="/program"><!-- 20201205 김소라 수정 -->
                    <div class="thumb"><img src="/assets/images/main/main_menu_02.svg">
                    </div>
                    <p>INNO-CON 입장</p>
                </a>
            </div>
            <div>
                <a href="/hire">
                    <div class="thumb"><img src="/assets/images/main/main_menu_03.svg">
                    </div>
                    <p>채용정보관</p>
                </a>
            </div>
            <div>
                <a href="/affiliated">
                    <!-- 20201127 김소라 수정 -->
                    <div class="thumb"><img src="/assets/images/main/main_menu_05.svg">
                    </div>
                    <p>제휴기업</p>
                </a>
            </div>
            <div>
                <a href="/introduce">
                    <div class="thumb"><img src="/assets/images/main/main_menu_06.svg">
                    </div>
                    <p>이노베이션 아카데미 소개</p>
                </a>
            </div>
        </div>

        <div class="m-wrap">
            <!--
            <div class="event">
              <h3>이벤트</h3>
              <div class="main-event">
                  <ul class="sliders">
                      <li data-link="#none">
                          <img src="/assets/images/main/m_event_banner_01.png" />
                      </li>
                      <li data-link="#none">
                          <img src="/assets/images/main/m_event_banner_02.png" />
                      </li>
                      <li data-link="#none">
                          <img src="/assets/images/main/m_event_banner_03.png" />
                      </li>
                  </ul>
              </div>
            </div>
            -->
            <div class="video">
                <h3>홍보영상</h3>
                <div class="video-wrap">
                    <iframe src="https://www.youtube.com/embed/2gE07GStEIk" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 20201205 김소라 추가 -->
<div id="popup01" class="popup01">
    <!-- 1207 오전 변경요망 -->
    <a href="https://youtu.be/Tp9w7TatzJQ" target="_blank">
    <!---------------------->
    <!--<a href="#none" onclick="$('.program-top-live-popup').addClass('on')">-->
        <img src="/assets/images/main/popup01.jpg">
    </a>
    <span class="pop-close"><img src="/assets/images/main/ico-close.png" alt="닫기"></span>
    <a href="javascript:;"  onclick="javascript:todaycloseWin1();"
 class="today-close">오늘하루열지않음</a>
</div>
<!-- 이벤트 팝업 삭제 요청 기존 popup02.jpg -->
<div id="popup02" class="popup02">
    <a href="#">
        <div class="pop-top">
            <div class="popup-title">2020 INNO-<em>CON</em></div>
            <p>2020이노베이션 아카데미 컨퍼런스</p>
        </div>
        <div class="popup-sub-title">
            감사의 글
        </div>
        <div class="popup-desc">
            <div class="popup-text">
                안녕하십니까.이노베이션 아카데미입니다.<br>
                온라인으로 개최된 '2020 이노베이션 아카데미 컨퍼런스(2020 INNO-CON')에<br>
                참여해주신 여러분 감사합니다.
                <br><br>
                이번 2020 INNO-CON은<br>
                '소프트웨어로 세상을 바꾸다'라는 주제로,<br>
                42 SEOUL에서 어떻게 예비개발자들이 학습하고 성장하고 있는지를 보여주고,<br>
                이노베이션 아카데미가 한해 동안 소프트웨어로<br>
                대한민국을 이끌어가는 주요 기업 및 커뮤니티와 함께<br>
                개발 생태계 발전에 기여한 성과를 대외에 알릴 수 있는 뜻깊은 자리였습니다.<br>
                <br><br>
                부득이 코로나로 인하여 온라인으로 행사가 개최되었지만,<br>
                여러분들의 많은 관심과 참여에 다시 한번 감사의 인사를 드립니다.<br>
                <br><br>
                저희 이노베이션 아카데미는<br>
                앞으로도 실제 현장에서 원하는 소프트웨어 개발자 인재 육성을 위해 더욱 노력할 것입니다.<br>
                지금처럼 많은 관심과 응원 부탁드리며,<br>
                내년도 INNO-CON에서는 더 좋은 콘텐츠로 다시 뵙길 기대합니다.
                <br><br>
                2021년에도 이노베이션 아카데미는 소프트웨어로 대한민국의 미래를 준비합니다.
                <br><br>
                감사합니다.
                <br><br>
                이노베이션 아카데미 드림
            </div>
            <div class="popup-visual">
                <img src="/assets/images/main/main_top.svg">
            </div>
        </div>
        <div class="popup-ft">
            <div class="pop-f-img"><img src="/assets/images/layout/footer_logo_01.png"></div>
            <div class="pop-f-img" style="width:80px;"><img src="/assets/images/layout/footer_logo_02.png"></div>
            <div class="pop-f-img"><img src="/assets/images/layout/footer_logo_03.png"></div>
            <div class="pop-f-img"><img src="/assets/images/layout/footer_logo_04.png"></div>
        </div>
    </a>
    <span class="pop-close"><img src="/assets/images/main/ico-close.png" alt="닫기"></span>
    <a href="javascript:;" onclick="javascript:todaycloseWin2();" class="today-close">오늘하루열지않음</a>
</div>

<!-- 생중계 링크 팝업 (program-top-live-popup 에 클래스명 on 추가제거) -->
<div class="program-top-live-popup">
    <i class="dim" onclick="$('.program-top-live-popup').removeClass('on')"></i>
    <div class="program-top-live-popup-inner">
        12월 8일(화) 오픈됩니다.
        <button onclick="$('.program-top-live-popup').removeClass('on')">확인</button>
    </div>
</div>
<!------------------------->
<script>
    $(document).ready(function () {
        $('.main-event').viSimpleSlider({
            autoPlay: true,
            autoTime: 2000,
            speed: 400,
            mobileSwipe: true,
            desktopSwipe: true
        });

        /* 20201127 김소라 추가 */
        var $typing = $("#typing");

        // #typing 요소의 내부 문자를 읽어온다.
        var text = $typing.text();

        // #typing 요소의 내부 문자 제거
        $typing.html("");

        // #typing 요소의 내부 문자를 한 글자씩 잘라 배열에 저장
        // → String 객체의 split 메서드
        var chars = text.split("");

        // 배열 chars의 각 문자들을 내부 문자로 갖는 span 요소를 생성해 #typing 요소에 추가
        // → Array 객체의 forEach 메서드
        chars.forEach(function (item) {
            // 문자가 빈칸인 경우에는 HTML 엔티티로 변환
            item = item == " " ? "&nbsp" : item;

            $("<span></span>").html(item).appendTo($typing);
        });

        // 캐럿 추가
        var $caret = $("<span></span>").attr("id", "caret").css({
            width: "1px"
        }).
            appendTo($typing);

        // 글자를 표시하기 전의 지연 시간(ms)
        var delayStart = 500;

        // 타이핑 속도(ms)
        var speed = 150;

        // 글자들을 보이지 않게 설정한 다음 한 글자씩 화면에 표시
        $typing.children(":not(#caret)").hide().each(function (index) {
            var delay = delayStart + speed * index;

            $(this).delay(delay).show(10);
        });
        /***********************/


        /* 20201205 김소라 추가 */
        $(".pop-close").click(function() {
            $(this).parent().hide();
        });

        var  cookiedata;
        cookiedata = document.cookie;
        if (cookiedata.indexOf("ncookie=done") < 0) {

            document.getElementById("popup01").style.display = "block";
        }
        else {

            document.getElementById("popup01").style.display = "none";
        }

        var  cookiedata2;
        cookiedata2 = document.cookie;
        if (cookiedata.indexOf("ncookie2=done") < 0) {

            document.getElementById("popup02").style.display = "block";
        }
        else {

            document.getElementById("popup02").style.display = "none";
        }

        /***********************/
    });

    /* 20201205 김소라 추가 */
    function todaycloseWin1() {
        setCookie2("ncookie","done",24);
        $(".popup01").hide();
    }
    function setCookie1(name, value, expirehours) {
        var todayDate = new Date();
        todayDate.setHours(todayDate.getHours() + expirehours);
        document.cookie = name + "=" + escape(value) + ";path=/;expires=" + todayDate.toGMTString() + ";"
    }

    function todaycloseWin2() {
        setCookie2("ncookie2","done",24);
        $(".popup02").hide();
    }
    function setCookie2(name, value, expirehours) {
        var todayDate = new Date();
        todayDate.setHours(todayDate.getHours() + expirehours);
        document.cookie = name + "=" + escape(value) + ";path=/;expires=" + todayDate.toGMTString() + ";"
    }

    /***********************/

    includeHTML(function () { });
</script>